Repository openstack/octavia: changes, and which Zuul jobs are due for each by the changed paths.
All: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Path conditions:
  octavia-legacy-dsvm-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$
  octavia-grenade: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$) or (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^(test-|)requirements.txt$, ^tox.ini$)
  openstack-tox-functional-py36: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-tls-barbican: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/unit/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-scenario-amphora-v2: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/unit/.*$, ^releasenotes/.*$

Use sqlalchemy isnot(None)
  octavia/api/common/pagination.py
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

[Amphorav2] Fix noop driver case
  octavia/amphorae/drivers/driver_base.py
  octavia/amphorae/drivers/noop_driver/driver.py
  octavia/controller/worker/v2/tasks/amphora_driver_tasks.py
  octavia/network/drivers/noop_driver/driver.py
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Stop "dnf makecache" in the amphora images
  diskimage-create/diskimage-create.sh
  elements/disable-makecache/README.rst
  elements/disable-makecache/post-install.d/80-disable-makecache
  elements/disable-makecache/svc-map
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Remove the barbican "Grant access" from cookbook
  doc/source/user/guides/basic-cookbook.rst
Due: none

Update cirros image to cirros-0.5.1-x86_64
  devstack/samples/singlenode/local.sh
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Add oslo middleware healthcheck to Octavia API
  doc/source/admin/healthcheck.rst
  doc/source/admin/index.rst
  etc/octavia.conf
  lower-constraints.txt
  octavia/api/app.py
  octavia/api/healthcheck/healthcheck_plugins.py
  octavia/api/root_controller.py
  octavia/api/v2/controllers/amphora.py
  octavia/api/v2/controllers/availability_zone_profiles.py
  octavia/api/v2/controllers/availability_zones.py
  octavia/api/v2/controllers/base.py
  octavia/api/v2/controllers/flavor_profiles.py
  octavia/api/v2/controllers/flavors.py
  octavia/api/v2/controllers/health_monitor.py
  octavia/api/v2/controllers/l7policy.py
  octavia/api/v2/controllers/l7rule.py
  octavia/api/v2/controllers/listener.py
  octavia/api/v2/controllers/load_balancer.py
  octavia/api/v2/controllers/member.py
  octavia/api/v2/controllers/pool.py
  octavia/api/v2/controllers/provider.py
  octavia/api/v2/controllers/quotas.py
  octavia/common/config.py
  octavia/common/keystone.py
  octavia/db/healthcheck.py
  octavia/tests/functional/api/test_healthcheck.py
  releasenotes/notes/add-healthcheck-middleware-6c09150bddd3113f.yaml
  requirements.txt
  setup.cfg
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Fix load balancer update with provider filtered params
  octavia/controller/worker/v1/tasks/network_tasks.py
  octavia/controller/worker/v2/tasks/network_tasks.py
  octavia/tests/unit/controller/worker/v1/tasks/test_network_tasks.py
  octavia/tests/unit/controller/worker/v2/tasks/test_network_tasks.py
  releasenotes/notes/fix-lb-update-with-no-data-abefe7860b8fb4c7.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Fix padding logic for UDP health daemon
  octavia/amphorae/backends/utils/keepalivedlvs_query.py
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Exclude acpid on Red Hat family DIB builds
  elements/amphora-agent/package-installs.yaml
  elements/amphora-agent/pkg-map
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Pick stale amphora randomly
  octavia/db/repositories.py
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Fix amphora image build jobs
  playbooks/image-build/run.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Ussuri contributor docs community goal
  CONTRIBUTING.rst
  HACKING.rst
  doc/source/contributor/contributing.rst
  doc/source/contributor/index.rst
Due: none

Update hacking for Python3
  octavia/hacking/checks.py
  octavia/tests/unit/test_hacking.py
  test-requirements.txt
  tox.ini
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Add F5 Networks provider driver by SAP SE
  doc/source/admin/providers/f5.rst
  doc/source/admin/providers/index.rst
Due: none

Add ability to set TLS cipher list for listeners
  api-ref/source/parameters.yaml
  api-ref/source/v2/examples/listener-create-curl
  api-ref/source/v2/examples/listener-create-request.json
  api-ref/source/v2/examples/listener-create-response.json
  api-ref/source/v2/examples/listener-show-response.json
  api-ref/source/v2/examples/listener-update-curl
  api-ref/source/v2/examples/listener-update-request.json
  api-ref/source/v2/examples/listener-update-response.json
  api-ref/source/v2/examples/listeners-list-response.json
  api-ref/source/v2/listener.inc
  etc/octavia.conf
  lower-constraints.txt
  octavia/amphorae/backends/agent/api_server/util.py
  octavia/api/root_controller.py
  octavia/api/v2/types/listener.py
  octavia/common/config.py
  octavia/common/constants.py
  octavia/common/data_models.py
  octavia/common/jinja/haproxy/combined_listeners/jinja_cfg.py
  octavia/common/jinja/haproxy/combined_listeners/templates/macros.j2
  octavia/db/migration/alembic_migrations/versions/7c36b277bfb0_add_listener_ciphers_column.py
  octavia/db/models.py
  octavia/db/prepare.py
  octavia/tests/common/sample_data_models.py
  octavia/tests/functional/api/test_root_controller.py
  octavia/tests/functional/api/v2/test_load_balancer.py
  octavia/tests/unit/api/drivers/test_utils.py
  octavia/tests/unit/common/jinja/haproxy/combined_listeners/test_jinja_cfg.py
  octavia/tests/unit/common/sample_configs/sample_configs_combined.py
  releasenotes/notes/add-default-ciphers-2eb70b34290711be.yaml
  requirements.txt
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Don't register cli opts on import
  octavia/common/config.py
  octavia/common/policy.py
  octavia/tests/unit/base.py
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Add ability to specify TLS cipher list for pools
  api-ref/source/v2/examples/pool-create-curl
  api-ref/source/v2/examples/pool-create-request.json
  api-ref/source/v2/examples/pool-create-response.json
  api-ref/source/v2/examples/pool-show-response.json
  api-ref/source/v2/examples/pool-update-curl
  api-ref/source/v2/examples/pool-update-request.json
  api-ref/source/v2/examples/pool-update-response.json
  api-ref/source/v2/examples/pools-list-response.json
  api-ref/source/v2/pool.inc
  etc/octavia.conf
  octavia/api/v2/types/pool.py
  octavia/common/config.py
  octavia/common/data_models.py
  octavia/common/jinja/haproxy/combined_listeners/jinja_cfg.py
  octavia/common/jinja/haproxy/combined_listeners/templates/macros.j2
  octavia/db/migration/alembic_migrations/versions/fbd705961c3a_add_pool_ciphers_column.py
  octavia/db/models.py
  octavia/db/prepare.py
  octavia/tests/common/sample_data_models.py
  octavia/tests/functional/db/test_repositories.py
  octavia/tests/unit/api/drivers/test_utils.py
  octavia/tests/unit/common/jinja/haproxy/combined_listeners/test_jinja_cfg.py
  octavia/tests/unit/common/sample_configs/sample_configs_combined.py
  releasenotes/notes/pool-ciphers-73a347942e31788b.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Jobboard based controller
  devstack/plugin.sh
  devstack/settings
  doc/source/admin/providers/amphorav2.rst
  doc/source/admin/providers/index.rst
  doc/source/install/install-amphorav2.rst
  doc/source/install/install.rst
  etc/octavia.conf
  lower-constraints.txt
  octavia/api/common/types.py
  octavia/api/v2/controllers/amphora.py
  octavia/common/base_taskflow.py
  octavia/common/config.py
  octavia/common/constants.py
  octavia/common/data_models.py
  octavia/controller/healthmanager/health_manager.py
  octavia/controller/housekeeping/house_keeping.py
  octavia/controller/queue/v2/consumer.py
  octavia/controller/worker/v2/controller_worker.py
  octavia/controller/worker/v2/flows/flow_utils.py
  octavia/controller/worker/v2/taskflow_jobboard_driver.py
  octavia/db/migration/cli.py
  octavia/db/repositories.py
  octavia/tests/functional/db/test_repositories.py
  octavia/tests/unit/common/test_base_taskflow.py
  octavia/tests/unit/controller/healthmanager/test_health_manager.py
  octavia/tests/unit/controller/housekeeping/test_house_keeping.py
  octavia/tests/unit/controller/queue/v2/test_consumer.py
  octavia/tests/unit/controller/worker/v2/test_controller_worker.py
  releasenotes/notes/add-jobboard-based-controller-599279c7cc172e955.yaml
  requirements.txt
  setup.cfg
  zuul.d/jobs.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Add availability-zone to loadbalancer object docs
  api-ref/source/parameters.yaml
  api-ref/source/v2/availabilityzone.inc
  api-ref/source/v2/examples/loadbalancer-create-curl
  api-ref/source/v2/examples/loadbalancer-create-request.json
  api-ref/source/v2/examples/loadbalancer-create-response.json
  api-ref/source/v2/examples/loadbalancer-full-create-request.json
  api-ref/source/v2/examples/loadbalancer-full-create-response.json
  api-ref/source/v2/examples/loadbalancer-show-response.json
  api-ref/source/v2/examples/loadbalancers-list-response.json
  api-ref/source/v2/loadbalancer.inc
Due: none

Correct delay between UDP healthchecks
  octavia/common/jinja/lvs/templates/macros.j2
  octavia/tests/unit/common/jinja/lvs/test_lvs_jinja_cfg.py
  releasenotes/notes/udp-delay-based-on-correct-setting-6a60856de2927ccd.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Fix py3 amphora-agent cert-rotation type bug
  octavia/amphorae/backends/agent/api_server/certificate_update.py
  releasenotes/notes/amp-agent-py3-cert-upload-binary-74e0ab35c5a85c68.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Don't inherit enforcing bash errexit in devstack plugin
  bin/create_dual_intermediate_CA.sh
  bin/create_single_CA_intermediate_CA.sh
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Run taskflow jobboard conductor conditionally
  devstack/plugin.sh
  octavia/controller/queue/v2/consumer.py
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Support HTTP and TCP checks in UDP healthmonitor
  api-ref/source/v2/general.inc
  octavia/amphorae/backends/utils/keepalivedlvs_query.py
  octavia/api/root_controller.py
  octavia/api/v2/controllers/health_monitor.py
  octavia/api/v2/controllers/pool.py
  octavia/common/jinja/haproxy/combined_listeners/jinja_cfg.py
  octavia/common/jinja/haproxy/split_listeners/jinja_cfg.py
  octavia/common/jinja/lvs/jinja_cfg.py
  octavia/common/jinja/lvs/templates/macros.j2
  octavia/common/utils.py
  octavia/tests/functional/api/test_root_controller.py
  octavia/tests/functional/api/v2/test_health_monitor.py
  octavia/tests/functional/api/v2/test_load_balancer.py
  octavia/tests/unit/common/jinja/haproxy/combined_listeners/test_jinja_cfg.py
  octavia/tests/unit/common/jinja/haproxy/split_listeners/test_jinja_cfg.py
  octavia/tests/unit/common/jinja/lvs/test_lvs_jinja_cfg.py
  octavia/tests/unit/common/sample_configs/sample_configs_combined.py
  octavia/tests/unit/common/sample_configs/sample_configs_split.py
  octavia/tests/unit/common/test_utils.py
  releasenotes/notes/additional-udp-healthcheck-types-2414a5edee9f5110.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Disable two tests due to sqlalchemy/sqlite bug
  octavia/tests/functional/db/test_repositories.py
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Healthmanager opts aren't CLI-related
  octavia/common/config.py
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Remove Babel requirement
  diskimage-create/requirements.txt
  lower-constraints.txt
  requirements.txt
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Fix Octavia unit tests for python 3.8
  octavia/tests/unit/certificates/manager/test_barbican_legacy.py
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36

Validate resource access when creating loadbalancer or member
  etc/octavia.conf
  octavia/api/v2/controllers/load_balancer.py
  octavia/api/v2/controllers/member.py
  octavia/common/clients.py
  octavia/common/config.py
  octavia/common/validate.py
  octavia/network/base.py
  octavia/network/drivers/neutron/base.py
  octavia/network/drivers/noop_driver/driver.py
  octavia/tests/unit/network/drivers/neutron/test_base.py
  releasenotes/notes/allow-invisible-subnets-e30b0b5fbd216294.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Small fix of wording in Ubuntu install doc
  doc/source/install/install-ubuntu.rst
Due: none

Fix healthmanager not update amphora health when LB disable
  octavia/controller/healthmanager/health_drivers/update_db.py
  octavia/tests/unit/controller/healthmanager/health_drivers/test_update_db.py
  releasenotes/notes/Fix-healthmanager-not-update-amphora-health-when-LB-disabled-46a4fb295c6d0850.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2
