Repository openstack/octavia: changes, and which Zuul jobs are due for each by the changed paths.
All: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

octavia-legacy-dsvm-base:
  parent: legacy-dsvm-base
  timeout: 7800
  required-projects:
  - openstack/devstack-gate
  - openstack/barbican
  - openstack/diskimage-builder
  - openstack/octavia
  - openstack/octavia-lib
  - openstack/python-barbicanclient
  - openstack/python-octaviaclient
  - openstack/tripleo-image-elements
  vars:
  ...

octavia-grenade:
  parent: octavia-legacy-dsvm-base
  run: playbooks/legacy/grenade-devstack-octavia/run.yaml
  post-run: playbooks/legacy/grenade-devstack-octavia/post.yaml
  required-projects:
  - openstack/grenade
  - openstack/devstack-gate
  - openstack/octavia
  - openstack/octavia-lib
  - openstack/octavia-tempest-plugin
  ...

octavia-v2-dsvm-scenario-amphora-v2:
  voting: false

Fix jobs not running and add new ones to the gate
  zuul.d/projects.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Use LUKS1 for certfs-ramfs for all distributions
  elements/certs-ramfs/static/usr/local/bin/certfs-ramfs
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Convert health_monitor flows to use provider models
  octavia/api/drivers/amphora_driver/v2/driver.py
  octavia/common/constants.py
  octavia/controller/queue/v2/endpoints.py
  octavia/controller/worker/v2/controller_worker.py
  octavia/controller/worker/v2/flows/health_monitor_flows.py
  octavia/controller/worker/v2/tasks/database_tasks.py
  octavia/controller/worker/v2/tasks/lifecycle_tasks.py
  octavia/tests/unit/api/drivers/amphora_driver/v2/test_amphora_driver.py
  octavia/tests/unit/controller/queue/v2/test_endpoints.py
  octavia/tests/unit/controller/worker/v2/flows/test_health_monitor_flows.py
  octavia/tests/unit/controller/worker/v2/tasks/test_database_tasks.py
  octavia/tests/unit/controller/worker/v2/tasks/test_database_tasks_quota.py
  octavia/tests/unit/controller/worker/v2/tasks/test_lifecycle_tasks.py
  octavia/tests/unit/controller/worker/v2/test_controller_worker.py
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Transition l7policy flows to dicts
  octavia/api/drivers/amphora_driver/v2/driver.py
  octavia/common/constants.py
  octavia/controller/queue/v2/endpoints.py
  octavia/controller/worker/v2/controller_worker.py
  octavia/controller/worker/v2/flows/l7policy_flows.py
  octavia/controller/worker/v2/tasks/database_tasks.py
  octavia/controller/worker/v2/tasks/lifecycle_tasks.py
  octavia/tests/unit/api/drivers/amphora_driver/v2/test_amphora_driver.py
  octavia/tests/unit/controller/queue/v2/test_endpoints.py
  octavia/tests/unit/controller/worker/v2/flows/test_l7policy_flows.py
  octavia/tests/unit/controller/worker/v2/tasks/test_database_tasks.py
  octavia/tests/unit/controller/worker/v2/tasks/test_lifecycle_tasks.py
  octavia/tests/unit/controller/worker/v2/test_controller_worker.py
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Transition l7rule flows to dicts
  octavia/api/drivers/amphora_driver/v2/driver.py
  octavia/common/constants.py
  octavia/controller/queue/v2/endpoints.py
  octavia/controller/worker/v2/controller_worker.py
  octavia/controller/worker/v2/flows/l7rule_flows.py
  octavia/controller/worker/v2/tasks/database_tasks.py
  octavia/controller/worker/v2/tasks/lifecycle_tasks.py
  octavia/tests/unit/api/drivers/amphora_driver/v2/test_amphora_driver.py
  octavia/tests/unit/controller/queue/v2/test_endpoints.py
  octavia/tests/unit/controller/worker/v2/flows/test_l7rule_flows.py
  octavia/tests/unit/controller/worker/v2/tasks/test_database_tasks.py
  octavia/tests/unit/controller/worker/v2/tasks/test_lifecycle_tasks.py
  octavia/tests/unit/controller/worker/v2/test_controller_worker.py
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Add listener allowed_cidrs to the feature matrix
  doc/source/user/feature-classification/feature-matrix-listener.ini
Due: none

Support haproxy development snapshot version parsing
  octavia/amphorae/backends/agent/api_server/haproxy_compatibility.py
  octavia/tests/unit/amphorae/backends/agent/api_server/test_haproxy_compatibility.py
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Fix the interface filenames for Red Hat amphora images
  octavia/amphorae/backends/agent/api_server/osutils.py
  octavia/tests/unit/amphorae/backends/agent/api_server/test_osutils.py
  releasenotes/notes/fix-redhat-amphora-images-interface-files-5ba1be40c65940d9.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Fix house keeping graceful shutdown
  octavia/cmd/house_keeping.py
  octavia/tests/unit/cmd/test_house_keeping.py
  releasenotes/notes/fix-house-keeping-shutdown-17b04417a2c4849f.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Update the lb_id on an amp earlier if we know it
  octavia/controller/worker/v1/flows/amphora_flows.py
  octavia/controller/worker/v1/tasks/database_tasks.py
  octavia/controller/worker/v2/flows/amphora_flows.py
  octavia/controller/worker/v2/tasks/database_tasks.py
  octavia/tests/unit/controller/worker/v1/tasks/test_database_tasks.py
  octavia/tests/unit/controller/worker/v2/flows/test_amphora_flows.py
  octavia/tests/unit/controller/worker/v2/tasks/test_database_tasks.py
  releasenotes/notes/link-amphora-to-loadbalancer-earlier-ab3dddec48b8da96.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Fix multi-listener LB with missing certificate
  octavia/amphorae/drivers/haproxy/rest_api_driver.py
  octavia/controller/healthmanager/health_drivers/update_db.py
  octavia/controller/worker/tasks/database_tasks.py
  octavia/db/repositories.py
  octavia/tests/functional/db/test_repositories.py
  octavia/tests/unit/amphorae/drivers/haproxy/test_rest_api_driver_0_5.py
  octavia/tests/unit/amphorae/drivers/haproxy/test_rest_api_driver_1_0.py
  octavia/tests/unit/controller/worker/tasks/test_database_tasks.py
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Use stable upper-constraints.txt in Amphora builds
  elements/amphora-agent/source-repository-amphora-agent
  releasenotes/notes/fix-amphora-agent-branch-checkout-e2eeb19c6aa09535.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Add diskimage-create arg for Octavia Git branch
  diskimage-create/README.rst
  diskimage-create/diskimage-create.sh
  releasenotes/notes/diskimage-create-git-branch-9c44e7e3fa70a985.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Add a periodic image build job
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Add UDP LBs to the basic cookbook
  doc/source/user/guides/basic-cookbook.rst
Due: none

Add docs warning for PING health monitors
  doc/source/user/guides/basic-cookbook.rst
Due: none

Fix pep8 failures on stable/stein branch
  octavia/api/v2/controllers/listener.py
  octavia/tests/unit/certificates/generator/test_local.py
  octavia/tests/unit/test_hacking.py
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Fix pep8 failures on stable/rocky branch
  octavia/tests/unit/api/drivers/test_data_models.py
  octavia/tests/unit/certificates/generator/test_local.py
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36

Fix TESTING.rst example
  TESTING.rst
Due: none

Fix uncaught DB exception when trying to get a spare amphora
  octavia/controller/worker/v1/tasks/database_tasks.py
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Fix uncaught DB exception when trying to get a spare amphora
  octavia/controller/worker/tasks/database_tasks.py
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Select the right lb_network_ip interface using AZ
  octavia/compute/compute_base.py
  octavia/compute/drivers/noop_driver/driver.py
  octavia/compute/drivers/nova_driver.py
  octavia/controller/worker/v1/flows/amphora_flows.py
  octavia/controller/worker/v1/tasks/compute_tasks.py
  octavia/controller/worker/v2/flows/amphora_flows.py
  octavia/controller/worker/v2/tasks/compute_tasks.py
  octavia/tests/unit/compute/drivers/test_compute_noop_driver.py
  octavia/tests/unit/controller/worker/v1/tasks/test_compute_tasks.py
  octavia/tests/unit/controller/worker/v2/flows/test_amphora_flows.py
  octavia/tests/unit/controller/worker/v2/tasks/test_compute_tasks.py
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Network Delta calculations should respect AZs
  octavia/controller/worker/v1/controller_worker.py
  octavia/controller/worker/v1/flows/amphora_flows.py
  octavia/controller/worker/v1/flows/load_balancer_flows.py
  octavia/controller/worker/v1/flows/member_flows.py
  octavia/controller/worker/v1/tasks/network_tasks.py
  octavia/controller/worker/v2/controller_worker.py
  octavia/controller/worker/v2/flows/amphora_flows.py
  octavia/controller/worker/v2/flows/load_balancer_flows.py
  octavia/controller/worker/v2/flows/member_flows.py
  octavia/controller/worker/v2/tasks/network_tasks.py
  octavia/tests/unit/controller/worker/v1/flows/test_member_flows.py
  octavia/tests/unit/controller/worker/v1/tasks/test_network_tasks.py
  octavia/tests/unit/controller/worker/v1/test_controller_worker.py
  octavia/tests/unit/controller/worker/v2/flows/test_member_flows.py
  octavia/tests/unit/controller/worker/v2/tasks/test_network_tasks.py
  octavia/tests/unit/controller/worker/v2/test_controller_worker.py
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Allow AZ to override valid_vip_networks config
  doc/source/admin/flavors.rst
  doc/source/contributor/guides/providers.rst
  octavia/api/drivers/amphora_driver/availability_zone_schema.py
  octavia/api/drivers/amphora_driver/v2/driver.py
  octavia/api/v2/controllers/load_balancer.py
  octavia/common/constants.py
  octavia/common/validate.py
  octavia/tests/unit/api/drivers/amphora_driver/v2/test_amphora_driver.py
  releasenotes/notes/availability-zones-can-override-valid-vip-networks-5566aa4769c158dc.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Fix load balancer update with provider filtered params
  octavia/controller/worker/v1/tasks/network_tasks.py
  octavia/controller/worker/v2/tasks/network_tasks.py
  octavia/tests/unit/controller/worker/v1/tasks/test_network_tasks.py
  octavia/tests/unit/controller/worker/v2/tasks/test_network_tasks.py
  releasenotes/notes/fix-lb-update-with-no-data-abefe7860b8fb4c7.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Update the available provider drivers list.
  doc/source/admin/index.rst
  doc/source/admin/providers/a10.rst
  doc/source/admin/providers/amphora.rst
  doc/source/admin/providers/index.rst
  doc/source/admin/providers/ovn.rst
  doc/source/admin/providers/radware.rst
  doc/source/admin/providers/vmware-nsx.rst
  doc/source/contributor/guides/providers.rst
Due: none

Pick stale amphora randomly
  octavia/db/repositories.py
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Support hacking 2.0.0
  lower-constraints.txt
  octavia/api/common/pagination.py
  octavia/controller/worker/v2/controller_worker.py
  octavia/tests/functional/api/v2/test_load_balancer.py
  octavia/tests/unit/amphorae/backends/health_daemon/test_health_daemon.py
  octavia/tests/unit/common/sample_configs/sample_configs_combined.py
  octavia/tests/unit/common/sample_configs/sample_configs_split.py
  octavia/tests/unit/controller/healthmanager/health_drivers/test_update_db.py
  test-requirements.txt
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Path conditions:
  octavia-legacy-dsvm-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$
  octavia-grenade: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$) or (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^(test-|)requirements.txt$, ^tox.ini$)
  openstack-tox-functional-py36: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-tls-barbican: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/unit/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-scenario-amphora-v2: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/unit/.*$, ^releasenotes/.*$
