Repository openstack/octavia: changes, and which Zuul jobs are due for each by the changed paths.
All: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

octavia-legacy-dsvm-base:
  parent: legacy-dsvm-base
  timeout: 7800
  required-projects:
  - openstack/devstack-gate
  - openstack/barbican
  - openstack/diskimage-builder
  - openstack/octavia
  - openstack/octavia-lib
  - openstack/python-barbicanclient
  - openstack/python-octaviaclient
  - openstack/tripleo-image-elements
  vars:
  ...

octavia-grenade:
  parent: octavia-legacy-dsvm-base
  run: playbooks/legacy/grenade-devstack-octavia/run.yaml
  post-run: playbooks/legacy/grenade-devstack-octavia/post.yaml
  required-projects:
  - openstack/grenade
  - openstack/devstack-gate
  - openstack/octavia
  - openstack/octavia-lib
  - openstack/octavia-tempest-plugin
  ...

octavia-v2-dsvm-cinder-amphora:
  voting: false

octavia-v2-dsvm-scenario-two-node:
  voting: false

octavia-v2-dsvm-scenario-amphora-v2:
  voting: false

Add TLS version configuration for listeners
  api-ref/source/parameters.yaml
  api-ref/source/v2/examples/listener-create-curl
  api-ref/source/v2/examples/listener-create-request.json
  api-ref/source/v2/examples/listener-create-response.json
  api-ref/source/v2/examples/listener-show-response.json
  api-ref/source/v2/examples/listener-update-curl
  api-ref/source/v2/examples/listener-update-request.json
  api-ref/source/v2/examples/listener-update-response.json
  api-ref/source/v2/examples/listeners-list-response.json
  api-ref/source/v2/listener.inc
  etc/octavia.conf
  octavia/api/root_controller.py
  octavia/api/v2/controllers/listener.py
  octavia/api/v2/types/listener.py
  octavia/common/config.py
  octavia/common/constants.py
  octavia/common/data_models.py
  octavia/common/jinja/haproxy/combined_listeners/jinja_cfg.py
  octavia/common/jinja/haproxy/combined_listeners/templates/haproxy.cfg.j2
  octavia/common/jinja/haproxy/combined_listeners/templates/macros.j2
  octavia/common/validate.py
  octavia/db/migration/alembic_migrations/versions/e5493ae5f9a7_add_listener_tls_versions_column.py
  octavia/db/models.py
  octavia/db/prepare.py
  octavia/tests/common/sample_data_models.py
  octavia/tests/functional/api/test_root_controller.py
  octavia/tests/functional/api/v2/test_load_balancer.py
  octavia/tests/unit/api/drivers/test_utils.py
  octavia/tests/unit/common/jinja/haproxy/combined_listeners/test_jinja_cfg.py
  octavia/tests/unit/common/sample_configs/sample_configs_combined.py
  octavia/tests/unit/common/test_validations.py
  releasenotes/notes/tls-versions-listeners-59cecde77e0238a0.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

Add TLS version configuration for pools
  api-ref/source/v2/examples/pool-create-curl
  api-ref/source/v2/examples/pool-create-request.json
  api-ref/source/v2/examples/pool-create-response.json
  api-ref/source/v2/examples/pool-show-response.json
  api-ref/source/v2/examples/pool-update-curl
  api-ref/source/v2/examples/pool-update-request.json
  api-ref/source/v2/examples/pool-update-response.json
  api-ref/source/v2/examples/pools-list-response.json
  api-ref/source/v2/pool.inc
  etc/octavia.conf
  octavia/api/root_controller.py
  octavia/api/v2/controllers/pool.py
  octavia/api/v2/types/pool.py
  octavia/common/config.py
  octavia/common/data_models.py
  octavia/common/jinja/haproxy/combined_listeners/jinja_cfg.py
  octavia/common/jinja/haproxy/combined_listeners/templates/haproxy.cfg.j2
  octavia/common/jinja/haproxy/combined_listeners/templates/macros.j2
  octavia/db/migration/alembic_migrations/versions/d3c8a090f3de_add_pool_tls_versions_column.py
  octavia/db/models.py
  octavia/db/prepare.py
  octavia/tests/common/sample_data_models.py
  octavia/tests/functional/api/test_root_controller.py
  octavia/tests/functional/db/test_repositories.py
  octavia/tests/unit/api/drivers/test_utils.py
  octavia/tests/unit/common/jinja/haproxy/combined_listeners/test_jinja_cfg.py
  octavia/tests/unit/common/sample_configs/sample_configs_combined.py
  releasenotes/notes/pool-tls-versions-37f8036eb29ffeee.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

Add a periodic fast forward upgrade job
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

Add minimum TLS version option in octavia.conf
  etc/octavia.conf
  octavia/api/v2/controllers/listener.py
  octavia/api/v2/controllers/pool.py
  octavia/common/config.py
  octavia/common/validate.py
  octavia/tests/unit/common/test_validations.py
  releasenotes/notes/min-tls-version-8e2856fb055ece2c.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

Do not install diskimage-builder from Git
  devstack/plugin.sh
  devstack/settings
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

Fix batch member create for v1 amphora driver
  octavia/controller/worker/v1/controller_worker.py
  octavia/tests/unit/controller/worker/v1/test_controller_worker.py
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

Update the feature matrix for new features
  doc/source/user/feature-classification/feature-matrix-lb.ini
  doc/source/user/feature-classification/feature-matrix-listener.ini
  doc/source/user/feature-classification/feature-matrix-pool.ini
Due: none

Fixed typo in upgrade section
  releasenotes/notes/allow-invisible-subnets-e30b0b5fbd216294.yaml
Due: none

Add quota support to octavia's l7policy and l7rule
  api-ref/source/parameters.yaml
  api-ref/source/v2/examples/quota-update-curl
  api-ref/source/v2/examples/quota-update-request.json
  api-ref/source/v2/examples/quota-update-response.json
  api-ref/source/v2/examples/quotas-defaults-response.json
  api-ref/source/v2/examples/quotas-list-response.json
  api-ref/source/v2/examples/quotas-show-response.json
  api-ref/source/v2/quota.inc
  etc/octavia.conf
  octavia/api/root_controller.py
  octavia/api/v2/controllers/base.py
  octavia/api/v2/controllers/l7rule.py
  octavia/api/v2/types/quotas.py
  octavia/common/config.py
  octavia/common/data_models.py
  octavia/controller/worker/v1/flows/l7policy_flows.py
  octavia/controller/worker/v1/flows/l7rule_flows.py
  octavia/controller/worker/v1/tasks/database_tasks.py
  octavia/controller/worker/v2/flows/l7policy_flows.py
  octavia/controller/worker/v2/flows/l7rule_flows.py
  octavia/controller/worker/v2/tasks/database_tasks.py
  octavia/db/migration/alembic_migrations/versions/32e5c35b26a8_add_l7policy_and_l7rule_quota.py
  octavia/db/models.py
  octavia/db/repositories.py
  octavia/tests/functional/api/test_root_controller.py
  octavia/tests/functional/api/v2/test_l7rule.py
  octavia/tests/functional/api/v2/test_quotas.py
  octavia/tests/functional/db/test_repositories.py
  octavia/tests/unit/api/v2/types/test_quotas.py
  octavia/tests/unit/common/test_data_models.py
  octavia/tests/unit/controller/worker/v1/tasks/test_database_tasks_quota.py
  octavia/tests/unit/controller/worker/v2/tasks/test_database_tasks_quota.py
  releasenotes/notes/add-l7policy-and-l7rule-to-quota-4b873c77f1e608e6.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

Workaround peer name starting with hyphen
  octavia/common/utils.py
  octavia/tests/unit/common/test_utils.py
  releasenotes/notes/fix-peer-name-prefix-hypen-e74a87e9a01b4f4c.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

Fix listener update with SNI certificates
  octavia/api/drivers/utils.py
  octavia/api/v2/types/listener.py
  octavia/common/data_models.py
  octavia/db/models.py
  octavia/db/repositories.py
  octavia/tests/common/sample_data_models.py
  octavia/tests/functional/api/v2/test_listener.py
  octavia/tests/functional/db/test_repositories.py
  octavia/tests/unit/api/drivers/test_utils.py
  releasenotes/notes/fix-api-listener-update-sni-containers-6595c52e2de1f621.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

Fix UDP pool transform in LVS driver
  octavia/common/jinja/lvs/jinja_cfg.py
  octavia/tests/unit/common/jinja/lvs/test_lvs_jinja_cfg.py
  octavia/tests/unit/common/sample_configs/sample_configs_combined.py
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

Fixed a bug: replace 'startwith' with 'startswith'
  octavia/common/clients.py
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

Switch oslo.policy over to yaml
  devstack/plugin.sh
  doc/source/configuration/policy.rst
  etc/policy/README.rst
  etc/policy/admin_or_owner-policy.json
  etc/policy/admin_or_owner-policy.yaml
  etc/policy/octavia-policy-generator.conf
  specs/template.rst
  tools/misc-sanity-checks.sh
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

Remove all deprecated driver code that moved to octavia-lib
  lower-constraints.txt
  octavia/api/drivers/data_models.py
  octavia/api/drivers/driver_lib.py
  octavia/api/drivers/provider_base.py
  octavia/api/v2/controllers/health_monitor.py
  octavia/api/v2/controllers/l7policy.py
  octavia/api/v2/controllers/l7rule.py
  octavia/api/v2/controllers/listener.py
  octavia/api/v2/controllers/load_balancer.py
  octavia/api/v2/controllers/member.py
  octavia/api/v2/controllers/pool.py
  octavia/tests/unit/api/drivers/test_driver_lib.py
  octavia/tests/unit/api/drivers/test_provider_base.py
  octavia/tests/unit/api/drivers/test_provider_noop_driver.py
  requirements.txt
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

Use unittest.mock instead of mock
  lower-constraints.txt
  octavia/hacking/checks.py
  octavia/tests/unit/api/drivers/driver_agent/test_driver_updater.py
  tox.ini
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

Do not install diskimage-builder from Git
  devstack/plugin.sh
  devstack/settings
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

Fix padding logic for UDP health daemon
  octavia/amphorae/backends/utils/keepalivedlvs_query.py
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

Fix load balancer update with provider filtered params
  octavia/controller/worker/tasks/network_tasks.py
  octavia/tests/unit/controller/worker/tasks/test_network_tasks.py
  releasenotes/notes/fix-lb-update-with-no-data-abefe7860b8fb4c7.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

Correct delay between UDP healthchecks
  octavia/common/jinja/lvs/templates/macros.j2
  octavia/tests/unit/common/jinja/lvs/test_lvs_jinja_cfg.py
  releasenotes/notes/udp-delay-based-on-correct-setting-6a60856de2927ccd.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

Fix py3 amphora-agent cert-rotation type bug
  octavia/amphorae/backends/agent/api_server/certificate_update.py
  releasenotes/notes/amp-agent-py3-cert-upload-binary-74e0ab35c5a85c68.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

Validate resource access when creating loadbalancer or member
  etc/octavia.conf
  octavia/api/v2/controllers/load_balancer.py
  octavia/api/v2/controllers/member.py
  octavia/common/clients.py
  octavia/common/config.py
  octavia/common/validate.py
  octavia/network/base.py
  octavia/network/drivers/neutron/base.py
  octavia/network/drivers/noop_driver/driver.py
  octavia/tests/unit/network/drivers/neutron/test_base.py
  releasenotes/notes/allow-invisible-subnets-e30b0b5fbd216294.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

Fix healthmanager not update amphora health when LB disable
  octavia/controller/healthmanager/health_drivers/update_db.py
  octavia/tests/unit/controller/healthmanager/health_drivers/test_update_db.py
  releasenotes/notes/Fix-healthmanager-not-update-amphora-health-when-LB-disabled-46a4fb295c6d0850.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

Fix some typos in the explanatory notes
  octavia/tests/functional/db/test_repositories.py
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36

Improve terminology in an old spec file
  specs/version0.5/network-driver-interface.rst
Due: none

Clarify health monitor behavior
  doc/source/user/guides/basic-cookbook.rst
Due: none

Fix allow_invisible_resource_usage typo in relnotes
  releasenotes/notes/allow-invisible-subnets-e30b0b5fbd216294.yaml
Due: none

Fix multi-listener LB client auth/re-encryption
  octavia/amphorae/drivers/haproxy/rest_api_driver.py
  octavia/common/jinja/haproxy/combined_listeners/jinja_cfg.py
  octavia/tests/unit/common/jinja/haproxy/combined_listeners/test_jinja_cfg.py
  octavia/tests/unit/common/sample_configs/sample_configs_combined.py
  releasenotes/notes/fix-client-auth-single-process-749af7791454ff03.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

Update the lb_id on an amp earlier if we know it
  octavia/controller/worker/v1/flows/amphora_flows.py
  octavia/controller/worker/v1/tasks/database_tasks.py
  octavia/controller/worker/v2/flows/amphora_flows.py
  octavia/controller/worker/v2/tasks/database_tasks.py
  octavia/tests/unit/controller/worker/v1/tasks/test_database_tasks.py
  octavia/tests/unit/controller/worker/v2/flows/test_amphora_flows.py
  octavia/tests/unit/controller/worker/v2/tasks/test_database_tasks.py
  releasenotes/notes/link-amphora-to-loadbalancer-earlier-ab3dddec48b8da96.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

Cap jsonschema 3.2.0 as the minimal version
  lower-constraints.txt
  requirements.txt
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

Fix error on devstack cleanup
  devstack/plugin.sh
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

Use uwsgi binary from path
  devstack/plugin.sh
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

add the verify for the session
  octavia/certificates/common/auth/barbican_acl.py
  releasenotes/notes/fix-barbican-client-verfiy-689be1b9389bd1d8.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

Fix listener API's test_create* assertions
  octavia/tests/functional/api/v2/test_listener.py
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36

Fix API audit CADF audit map for failover action
  etc/audit/octavia_api_audit_map.conf.sample
  releasenotes/notes/fix-audit-map-for-failover-e63390399da6841d.yaml
Due: octavia-grenade, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

Update the API audit map
  etc/audit/octavia_api_audit_map.conf.sample
Due: octavia-grenade, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

Set octavia-grenade job non-voting
  zuul.d/projects.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

Remove install DIB from Git option
  devstack/plugin.sh
  octavia/tests/contrib/gate_hook.sh
  playbooks/legacy/octavia-v1-dsvm-py3x-scenario/run.yaml
  playbooks/legacy/octavia-v1-dsvm-scenario/run.yaml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: octavia-legacy-dsvm-base, octavia-grenade, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-spare-pool, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-amphora-v2

Path conditions:
  octavia-legacy-dsvm-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$
  octavia-grenade: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$) or (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^(test-|)requirements.txt$, ^tox.ini$)
  openstack-tox-functional-py36: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^octavia/tests/unit/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-noop-api: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-scenario: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-tls-barbican: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-spare-pool: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-act-stdby-dsvm-scenario: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-cinder-amphora: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-scenario-two-node: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-scenario-amphora-v2: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
