Repository openstack/octavia: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-tox-pip-check-reqs, openstack-tox-functional-py39, openstack-tox-functional-py310, openstack-tox-functional-py311, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario-traffic-ops, octavia-v2-dsvm-scenario-non-traffic-ops, octavia-v2-dsvm-scenario-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-non-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-traffic-ops-jobboard, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-grenade-skip-level, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-centos-9-stream

octavia-v2-dsvm-tls-barbican:
  voting: false

octavia-grenade:
  voting: false

octavia-grenade-skip-level:
  voting: false

octavia-v2-dsvm-tls-barbican-fips:
  voting: false

octavia-v2-act-stdby-dsvm-scenario:
  voting: false

octavia-v2-dsvm-cinder-amphora:
  voting: false

octavia-v2-dsvm-scenario-two-node:
  voting: false

octavia-v2-dsvm-scenario-ipv6-only:
  voting: false

octavia-v2-dsvm-scenario-centos-9-stream:
  voting: false

Fixed missing port_id in additional_vips API
  octavia/api/v2/types/load_balancer.py
  octavia/tests/functional/api/v2/test_load_balancer.py
  releasenotes/notes/fix-missing-additional-vips-port_id-fd0708aa798744c9.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py39, openstack-tox-functional-py310, openstack-tox-functional-py311, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario-traffic-ops, octavia-v2-dsvm-scenario-non-traffic-ops, octavia-v2-dsvm-scenario-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-non-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-traffic-ops-jobboard, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-grenade-skip-level, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-centos-9-stream

Fix L7Rules with FILE_TYPE and EQUAL_TO
  octavia/common/jinja/haproxy/combined_listeners/templates/macros.j2
  octavia/tests/unit/common/jinja/haproxy/combined_listeners/test_jinja_cfg.py
  releasenotes/notes/fix-l7rule-FILE_TYPE-EQUAL_TO-6e84773d6ab22c50.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py39, openstack-tox-functional-py310, openstack-tox-functional-py311, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario-traffic-ops, octavia-v2-dsvm-scenario-non-traffic-ops, octavia-v2-dsvm-scenario-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-non-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-traffic-ops-jobboard, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-grenade-skip-level, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-centos-9-stream

Skip 4.0.{0,1} pylint releases
  test-requirements.txt
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py39, openstack-tox-functional-py310, openstack-tox-functional-py311, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario-traffic-ops, octavia-v2-dsvm-scenario-non-traffic-ops, octavia-v2-dsvm-scenario-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-non-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-traffic-ops-jobboard, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-centos-9-stream

Fix race condition in cascade delete
  octavia/controller/worker/v2/flows/listener_flows.py
  octavia/controller/worker/v2/flows/load_balancer_flows.py
  releasenotes/notes/fix-potential-race-conditions-in-cascade-delete-1e100213445a17ec.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py39, openstack-tox-functional-py310, openstack-tox-functional-py311, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario-traffic-ops, octavia-v2-dsvm-scenario-non-traffic-ops, octavia-v2-dsvm-scenario-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-non-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-traffic-ops-jobboard, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-grenade-skip-level, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-centos-9-stream

Resolve a UDP rebalance issue on backend failure
  octavia/amphorae/backends/agent/api_server/templates/amphora-netns.systemd.j2
  releasenotes/notes/Fix-UDP-member-server-rebalance-74c67cb09c7c529a.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py39, openstack-tox-functional-py310, openstack-tox-functional-py311, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario-traffic-ops, octavia-v2-dsvm-scenario-non-traffic-ops, octavia-v2-dsvm-scenario-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-non-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-traffic-ops-jobboard, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-grenade-skip-level, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-centos-9-stream

Fix Amphora controller IP list update
  octavia/amphorae/backends/agent/api_server/server.py
  octavia/cmd/agent.py
  octavia/tests/functional/amphorae/backend/agent/api_server/test_server.py
  releasenotes/notes/Fix-Amphora-Config-Update-06b649883c7a4f44.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py39, openstack-tox-functional-py310, openstack-tox-functional-py311, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario-traffic-ops, octavia-v2-dsvm-scenario-non-traffic-ops, octavia-v2-dsvm-scenario-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-non-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-traffic-ops-jobboard, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-grenade-skip-level, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-centos-9-stream

Pin pylint < 4.0.0
  test-requirements.txt
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py39, openstack-tox-functional-py310, openstack-tox-functional-py311, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario-traffic-ops, octavia-v2-dsvm-scenario-non-traffic-ops, octavia-v2-dsvm-scenario-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-non-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-traffic-ops-jobboard, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-centos-9-stream

Update .gitreview for unmaintained/2024.1
  .gitreview
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py39, openstack-tox-functional-py310, openstack-tox-functional-py311, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario-traffic-ops, octavia-v2-dsvm-scenario-non-traffic-ops, octavia-v2-dsvm-scenario-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-non-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-traffic-ops-jobboard, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-grenade-skip-level, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-centos-9-stream

reno: Update master for unmaintained/2024.1
  releasenotes/source/2024.1.rst
Due: none

Don't fail if a provider driver cannot be loaded in Octavia API
  octavia/api/app.py
  octavia/api/drivers/driver_factory.py
  octavia/api/v2/controllers/provider.py
  octavia/tests/unit/api/test_app.py
  releasenotes/notes/fix-octavia-api-driver-init-68b634549c12da6e.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py39, openstack-tox-functional-py310, openstack-tox-functional-py311, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario-traffic-ops, octavia-v2-dsvm-scenario-non-traffic-ops, octavia-v2-dsvm-scenario-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-non-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-traffic-ops-jobboard, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-grenade-skip-level, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-centos-9-stream

devstack: Remove remaining logic for linuxbridge-agent
  devstack/plugin.sh
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py39, openstack-tox-functional-py310, openstack-tox-functional-py311, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario-traffic-ops, octavia-v2-dsvm-scenario-non-traffic-ops, octavia-v2-dsvm-scenario-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-non-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-traffic-ops-jobboard, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-grenade-skip-level, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-centos-9-stream

Unpin pylint
  test-requirements.txt
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py39, openstack-tox-functional-py310, openstack-tox-functional-py311, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario-traffic-ops, octavia-v2-dsvm-scenario-non-traffic-ops, octavia-v2-dsvm-scenario-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-non-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-traffic-ops-jobboard, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-centos-9-stream

Add API spec for cross-pool batch member update
  specs/version15.0/member-update-across-pools.rst
Due: none

Update diskimage-create.sh to use noble as default
  diskimage-create/README.rst
  diskimage-create/diskimage-create.sh
  elements/amphora-apparmor/README.rst
  elements/amphora-apparmor/element-deps
  elements/amphora-apparmor/post-install.d/10-fix-rsyslog
  elements/amphora-apparmor/static/etc/apparmor.d/rsyslog.d/octavia
  octavia/common/jinja/haproxy/combined_listeners/templates/haproxy.cfg.j2
  octavia/tests/unit/common/jinja/haproxy/combined_listeners/test_jinja_cfg.py
  releasenotes/notes/update-ubuntu-amphora-image-default-to-noble-d2733d4bcc31fec9.yaml
  zuul.d/projects.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py39, openstack-tox-functional-py310, openstack-tox-functional-py311, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario-traffic-ops, octavia-v2-dsvm-scenario-non-traffic-ops, octavia-v2-dsvm-scenario-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-non-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-traffic-ops-jobboard, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-grenade-skip-level, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-centos-9-stream

fixup! Implement cross-pool batch member update
  octavia/api/v2/controllers/member.py
  octavia/api/v2/controllers/pool.py
  octavia/api/v2/types/member.py
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py39, openstack-tox-functional-py310, openstack-tox-functional-py311, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario-traffic-ops, octavia-v2-dsvm-scenario-non-traffic-ops, octavia-v2-dsvm-scenario-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-non-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-traffic-ops-jobboard, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-grenade-skip-level, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-centos-9-stream

Remove url tags from README
  README.rst
Due: none

Fixed missing mock in TestAmphoraAgentCMD.test_main
  octavia/tests/unit/cmd/test_agent.py
Due: none

Move log offload files to /var/log/octavia
  devstack/etc/rsyslog/10-octavia-log-offloading.conf
  devstack/plugin.sh
  zuul.d/jobs.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py39, openstack-tox-functional-py310, openstack-tox-functional-py311, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario-traffic-ops, octavia-v2-dsvm-scenario-non-traffic-ops, octavia-v2-dsvm-scenario-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-non-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-traffic-ops-jobboard, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-grenade-skip-level, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-centos-9-stream

Fix amphora delete API call
  octavia/api/v2/controllers/amphora.py
  octavia/controller/worker/v2/controller_worker.py
  octavia/tests/unit/controller/worker/v2/test_controller_worker.py
  releasenotes/notes/fix-amphora-delete-api-c2708613e8f2e4aa.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py39, openstack-tox-functional-py310, openstack-tox-functional-py311, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario-traffic-ops, octavia-v2-dsvm-scenario-non-traffic-ops, octavia-v2-dsvm-scenario-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-non-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-traffic-ops-jobboard, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-grenade-skip-level, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-centos-9-stream

Specialize v2-dsvm-noop-api job for 2023.1
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py39, openstack-tox-functional-py310, openstack-tox-functional-py311, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario-traffic-ops, octavia-v2-dsvm-scenario-non-traffic-ops, octavia-v2-dsvm-scenario-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-non-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-traffic-ops-jobboard, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-grenade-skip-level, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-centos-9-stream

Fix spurious logging message in amphora-agent API
  octavia/amphorae/backends/agent/api_server/amphora_info.py
  octavia/tests/unit/amphorae/backends/agent/api_server/test_amphora_info.py
  releasenotes/notes/fix-spurious-tuned-log-messages-in-amphora-agent-api-4c0be968d4be4d98.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py39, openstack-tox-functional-py310, openstack-tox-functional-py311, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario-traffic-ops, octavia-v2-dsvm-scenario-non-traffic-ops, octavia-v2-dsvm-scenario-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-non-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-traffic-ops-jobboard, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-grenade-skip-level, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-centos-9-stream

Fix database connection check
  octavia/db/api.py
  octavia/tests/functional/db/test_api.py
  releasenotes/notes/fix-bug-2129562-b5a401824426ddbb.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py39, openstack-tox-functional-py310, openstack-tox-functional-py311, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario-traffic-ops, octavia-v2-dsvm-scenario-non-traffic-ops, octavia-v2-dsvm-scenario-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-non-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-traffic-ops-jobboard, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-grenade-skip-level, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-centos-9-stream

Migrate upper functional job to Python 3.13
  setup.cfg
  tox.ini
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py39, openstack-tox-functional-py310, openstack-tox-functional-py311, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario-traffic-ops, octavia-v2-dsvm-scenario-non-traffic-ops, octavia-v2-dsvm-scenario-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-non-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-traffic-ops-jobboard, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-grenade-skip-level, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-centos-9-stream

Fix octavia-grenade-skip-level job
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py39, openstack-tox-functional-py310, openstack-tox-functional-py311, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario-traffic-ops, octavia-v2-dsvm-scenario-non-traffic-ops, octavia-v2-dsvm-scenario-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-non-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-traffic-ops-jobboard, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-grenade-skip-level, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-centos-9-stream

Update jobs for unmaintained/2024.1
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py39, openstack-tox-functional-py310, openstack-tox-functional-py311, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario-traffic-ops, octavia-v2-dsvm-scenario-non-traffic-ops, octavia-v2-dsvm-scenario-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-non-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-traffic-ops-jobboard, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-grenade-skip-level, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-centos-9-stream

Update jobs for unmaintained/2023.1
  zuul.d/amphorav2-jobs.yaml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py39, openstack-tox-functional-py310, openstack-tox-functional-py311, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario-traffic-ops, octavia-v2-dsvm-scenario-non-traffic-ops, octavia-v2-dsvm-scenario-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-non-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-traffic-ops-jobboard, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-grenade-skip-level, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-centos-9-stream

Clean up jobs for unmaintained/2024.1
  zuul.d/amphorav2-jobs.yaml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py39, openstack-tox-functional-py310, openstack-tox-functional-py311, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario-traffic-ops, octavia-v2-dsvm-scenario-non-traffic-ops, octavia-v2-dsvm-scenario-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-non-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-traffic-ops-jobboard, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-grenade-skip-level, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-centos-9-stream

Fix issues related to pkg_resources module
  octavia/common/utils.py
  octavia/tests/common/sample_certs.py
  test-requirements.txt
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py39, openstack-tox-functional-py310, openstack-tox-functional-py311, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario-traffic-ops, octavia-v2-dsvm-scenario-non-traffic-ops, octavia-v2-dsvm-scenario-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-non-traffic-ops-ubuntu-jammy, octavia-v2-dsvm-scenario-traffic-ops-jobboard, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-grenade-skip-level, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-centos-9-stream

Path conditions:
  openstack-tox-pip-check-reqs: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  openstack-tox-functional-py39: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^octavia/tests/unit/.*$, ^releasenotes/.*$
  openstack-tox-functional-py310: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^octavia/tests/unit/.*$, ^releasenotes/.*$
  openstack-tox-functional-py311: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^octavia/tests/unit/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-noop-api: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-scenario-traffic-ops: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-scenario-non-traffic-ops: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-scenario-traffic-ops-ubuntu-jammy: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-scenario-non-traffic-ops-ubuntu-jammy: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-scenario-traffic-ops-jobboard: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-scenario-non-traffic-ops-jobboard: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-tls-barbican: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-grenade: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^(test-|)requirements.txt$, ^tox.ini$
  octavia-grenade-skip-level: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^(test-|)requirements.txt$, ^tox.ini$
  octavia-v2-dsvm-tls-barbican-fips: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-act-stdby-dsvm-scenario: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-cinder-amphora: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-scenario-two-node: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-scenario-ipv6-only: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-scenario-centos-9-stream: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
