Repository openstack/octavia: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

zuul.d/projects.yaml:

# Note: Some official OpenStack wide jobs are still defined in the
#       project-config repository
- project:
    check:
      jobs:
        - neutron-lbaasv2-dsvm-api
        - neutron-lbaasv2-dsvm-py3x-api:
            branches: ^(?!stable/ocata).*$
        - neutron-lbaasv2-dsvm-scenario:
            voting: false
        - neutron-lbaasv2-dsvm-py3x-scenario:
            branches: ^(?!stable/ocata).*$
            voting: false
        - openstack-tox-lower-constraints
        - openstack-tox-functional:
            irrelevant-files:
              - ^.*\.rst$
              - ^api-ref/.*$
              - ^doc/.*$
              - ^etc/.*$
              - ^releasenotes/.*$
        - openstack-tox-functional-py35:
            branches: ^(?!stable/ocata).*$
            irrelevant-files:
              - ^.*\.rst$
              - ^api-ref/.*$
              - ^doc/.*$
              - ^etc/.*$
              - ^releasenotes/.*$
        - octavia-v1-dsvm-scenario
        - octavia-v1-dsvm-py3x-scenario:
            branches: ^(?!stable/ocata).*$
        - octavia-v1-dsvm-scenario-multinode:
            voting: false
        - octavia-v1-dsvm-py3x-scenario-multinode:
            branches: ^(?!stable/ocata).*$
            voting: false
        - octavia-v1-dsvm-scenario-kvm-centos.7:
            voting: false
        - octavia-v1-dsvm-scenario-ubuntu.bionic:
            voting: false
        - octavia-v2-dsvm-noop-api:
            voting: false
        - octavia-v2-dsvm-noop-py35-api:
            voting: false
            branches: ^(?!stable/ocata).*$
        - octavia-v2-dsvm-scenario:
            voting: false
        - octavia-v2-dsvm-py35-scenario:
            voting: false
            branches: ^(?!stable/ocata).*$
        - octavia-grenade:
            branches: ^(?!stable/(ocata|pike|queens)).*$
            irrelevant-files:
              - ^.*\.rst$
              - ^api-ref/.*$
              - ^doc/.*$
              - ^octavia/tests/unit/.*$
              - ^releasenotes/.*$
              - ^setup.cfg$
              - ^tools/.*$
              - ^(test-|)requirements.txt$
              - ^tox.ini$
    gate:
      queue: octavia
      jobs:
        - openstack-tox-lower-constraints
        - openstack-tox-functional:
            irrelevant-files:
              - ^.*\.rst$
              - ^api-ref/.*$
              - ^doc/.*$
              - ^etc/.*$
              - ^releasenotes/.*$
        - openstack-tox-functional-py35:
            branches: ^(?!stable/ocata).*$
            irrelevant-files:
              - ^.*\.rst$
              - ^api-ref/.*$
              - ^doc/.*$
              - ^etc/.*$
              - ^releasenotes/.*$
        - octavia-v1-dsvm-scenario
        - octavia-v1-dsvm-py3x-scenario:
            branches: ^(?!stable/ocata).*$
        - octavia-v1-dsvm-scenario-multinode:
            voting: false
        - octavia-v1-dsvm-py3x-scenario-multinode:
            branches: ^(?!stable/ocata).*$
            voting: false
        - neutron-lbaasv2-dsvm-api
        - neutron-lbaasv2-dsvm-py3x-api:
            branches: ^(?!stable/ocata).*$
        - octavia-grenade:
            branches: ^(?!stable/(ocata|pike|queens)).*$
            irrelevant-files:
              - ^.*\.rst$
              - ^api-ref/.*$
              - ^doc/.*$
              - ^octavia/tests/unit/.*$
              - ^releasenotes/.*$
              - ^setup.cfg$
              - ^tools/.*$
              - ^(test-|)requirements.txt$
              - ^tox.ini$
    experimental:
      queue: octavia
      jobs:
        - octavia-v1-dsvm-scenario-lxd:
            branches: ^(?!stable/ocata).*$
    periodic:
      jobs:
        - publish-openstack-octavia-amphora-image-ubuntu:
            branches: ^(?!stable/.*).*$
        - publish-openstack-octavia-amphora-image-centos:
            branches: ^(?!stable/.*).*$

Fix configured haproxy restarts
  octavia/amphorae/backends/agent/api_server/templates/systemd.conf.j2
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Add exception handling for housekeeping service
  octavia/cmd/house_keeping.py
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Update introduction documention page
  doc/source/reference/introduction.rst
Due: none

Allow fields filter on single object GETs
  octavia/api/v2/controllers/amphora.py
  octavia/api/v2/controllers/health_monitor.py
  octavia/api/v2/controllers/l7policy.py
  octavia/api/v2/controllers/l7rule.py
  octavia/api/v2/controllers/listener.py
  octavia/api/v2/controllers/load_balancer.py
  octavia/api/v2/controllers/member.py
  octavia/api/v2/controllers/pool.py
  octavia/tests/functional/api/v2/test_amphora.py
  octavia/tests/functional/api/v2/test_health_monitor.py
  octavia/tests/functional/api/v2/test_l7policy.py
  octavia/tests/functional/api/v2/test_l7rule.py
  octavia/tests/functional/api/v2/test_listener.py
  octavia/tests/functional/api/v2/test_load_balancer.py
  octavia/tests/functional/api/v2/test_member.py
  octavia/tests/functional/api/v2/test_pool.py
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Re-enable KVM
  octavia/tests/contrib/gate_hook.sh
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Move from platform.linux_distribution to distro.id
  .pylintrc
  lower-constraints.txt
  octavia/amphorae/backends/agent/api_server/osutils.py
  octavia/tests/functional/amphorae/backend/agent/api_server/test_server.py
  octavia/tests/unit/amphorae/backends/agent/api_server/test_listener.py
  octavia/tests/unit/amphorae/backends/agent/api_server/test_osutils.py
  octavia/tests/unit/amphorae/backends/agent/api_server/test_plug.py
  requirements.txt
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Add pool session persistence validation
  api-ref/source/parameters.yaml
  octavia/api/v2/controllers/pool.py
  octavia/api/v2/types/pool.py
  octavia/common/validate.py
  octavia/tests/functional/api/v2/test_pool.py
  octavia/tests/unit/common/test_validations.py
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Add API alias for '/statuses'
  octavia/api/v2/controllers/load_balancer.py
  octavia/tests/functional/api/v2/test_load_balancer.py
  releasenotes/notes/statuses_alias-27559e3d74b9eaf0.yaml
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Exclude amphora instances already DELETED when failover loadbalancer
  octavia/controller/worker/controller_worker.py
  octavia/tests/unit/controller/worker/test_controller_worker.py
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Improve the error logging for zombie amphora
  octavia/amphorae/drivers/health/heartbeat_udp.py
  octavia/common/constants.py
  octavia/controller/healthmanager/health_drivers/update_base.py
  octavia/controller/healthmanager/health_drivers/update_db.py
  octavia/controller/healthmanager/health_drivers/update_logging.py
  octavia/controller/worker/controller_worker.py
  octavia/controller/worker/tasks/controller_tasks.py
  octavia/db/repositories.py
  octavia/tests/functional/db/test_repositories.py
  octavia/tests/unit/amphorae/drivers/health/test_heartbeat_udp.py
  octavia/tests/unit/controller/healthmanager/health_drivers/test_update_base.py
  octavia/tests/unit/controller/healthmanager/health_drivers/test_update_db.py
  octavia/tests/unit/controller/healthmanager/health_drivers/test_update_logging.py
  octavia/tests/unit/controller/worker/tasks/test_controller_tasks.py
  octavia/tests/unit/controller/worker/test_controller_worker.py
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Fix health manager to be spare amphora aware
  octavia/controller/healthmanager/health_drivers/update_db.py
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Mark LBs in failover PENDING_UPDATE
  octavia/common/constants.py
  octavia/controller/healthmanager/health_manager.py
  octavia/db/repositories.py
  octavia/tests/functional/db/test_repositories.py
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Enable oslo_config mutable configurations
  octavia/cmd/health_manager.py
  octavia/cmd/house_keeping.py
  octavia/cmd/octavia_worker.py
  octavia/tests/unit/cmd/test_health_manager.py
  octavia/tests/unit/cmd/test_house_keeping.py
  releasenotes/notes/enable-mutable-configuration-1d7f62a133148767.yaml
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Fix fields translation on filtering
  octavia/api/v2/types/load_balancer.py
  octavia/api/v2/types/pool.py
  octavia/db/base_models.py
  octavia/tests/functional/api/v2/test_load_balancer.py
  octavia/tests/functional/api/v2/test_pool.py
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

[amphora-agent] add local net to routing table 1
  octavia/amphorae/backends/agent/api_server/osutils.py
  octavia/amphorae/backends/agent/api_server/templates/plug_vip_ethX.conf.j2
  octavia/amphorae/backends/agent/api_server/templates/rh_route_ethX.conf.j2
  octavia/common/utils.py
  octavia/tests/functional/amphorae/backend/agent/api_server/test_server.py
  octavia/tests/unit/common/test_utils.py
  releasenotes/notes/fix-route-table-b2ec0aa7b92d2abc.yaml
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Ignore a port not found when deleting an LB
  octavia/network/drivers/neutron/allowed_address_pairs.py
  octavia/tests/unit/network/drivers/neutron/test_allowed_address_pairs.py
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Introduce ipvsadm to the amphora image
  diskimage-create/diskimage-create.sh
  elements/ipvsadmin/README.rst
  elements/ipvsadmin/element-deps
  elements/ipvsadmin/package-installs.json
  elements/ipvsadmin/svc-map
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Improve resource quota response message
  octavia/api/v1/controllers/health_monitor.py
  octavia/api/v1/controllers/listener.py
  octavia/api/v1/controllers/load_balancer.py
  octavia/api/v1/controllers/member.py
  octavia/api/v1/controllers/pool.py
  octavia/api/v2/controllers/health_monitor.py
  octavia/api/v2/controllers/l7policy.py
  octavia/api/v2/controllers/listener.py
  octavia/api/v2/controllers/load_balancer.py
  octavia/api/v2/controllers/member.py
  octavia/api/v2/controllers/pool.py
  octavia/common/exceptions.py
  octavia/db/repositories.py
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Add the missing markup for the hyperlink title
  doc/source/contributor/guides/dev-quick-start.rst
Due: none

[doc]Use openstack client commands to replace nova client
  doc/source/contributor/guides/dev-quick-start.rst
Due: none

Follow the new PTI for document build
  setup.cfg
Due: openstack-tox-functional, openstack-tox-functional-py35

[doc] Add the missing markup for the hyperlink title
  specs/version1.0/flavors.rst
Due: none

Fix RedHat family image building
  elements/amphora-agent/pkg-map
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Implement provider drivers - Driver Library
  doc/source/contributor/guides/providers.rst
  octavia/api/drivers/driver_lib.py
  octavia/api/drivers/exceptions.py
  octavia/common/constants.py
  octavia/tests/functional/db/test_repositories.py
  octavia/tests/unit/api/drivers/test_driver_lib.py
  octavia/tests/unit/api/drivers/test_exceptions.py
  specs/version1.1/enable-provider-driver.rst
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Allow setting load balancer topology in Devstack
  devstack/plugin.sh
  devstack/settings
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Use openstack client command to replace nova client
  doc/source/contributor/guides/dev-quick-start.rst
Due: none

Add the missing markup for the hyperlink title
  doc/source/user/guides/l7.rst
Due: none

Add a config to surpress amphora logging
  etc/octavia.conf
  octavia/amphorae/drivers/haproxy/rest_api_driver.py
  octavia/common/config.py
  octavia/common/jinja/haproxy/jinja_cfg.py
  octavia/common/jinja/haproxy/templates/base.j2
  octavia/tests/unit/common/jinja/haproxy/test_jinja_cfg.py
  releasenotes/notes/disable_logging-3b50f388ee2b8127.yaml
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Add release note for HMAC python3 fix
  releasenotes/notes/py3-hmac-digest-81696f6b176e7ae4.yaml
Due: none

Fix package version querying on non-dpkg distros
  octavia/amphorae/backends/agent/api_server/amphora_info.py
  octavia/amphorae/backends/agent/api_server/osutils.py
  octavia/tests/functional/amphorae/backend/agent/api_server/test_server.py
  octavia/tests/unit/amphorae/backends/agent/api_server/test_osutils.py
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Translate expected package names to installed ones
  octavia/amphorae/backends/agent/api_server/osutils.py
  octavia/tests/unit/amphorae/backends/agent/api_server/test_osutils.py
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Add lb_id comment to amp haproxy listener config
  octavia/common/jinja/haproxy/jinja_cfg.py
  octavia/common/jinja/haproxy/templates/base.j2
  octavia/common/jinja/haproxy/templates/haproxy.cfg.j2
  octavia/tests/unit/amphorae/backends/agent/api_server/test_haproxy_compatibility.py
  octavia/tests/unit/common/sample_configs/sample_configs.py
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade
