Repository openstack/octavia: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-tox-pip-check-reqs, openstack-tox-functional-py38, openstack-tox-functional-py39, octavia-v2-dsvm-noop-api-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-tls-barbican-unmaintained-2024-1, octavia-grenade-unmaintained-2024-1

devstack: install/uninstall redis - remove code for SUSE
  devstack/plugin.sh
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py38, openstack-tox-functional-py39, octavia-v2-dsvm-noop-api-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-tls-barbican-unmaintained-2024-1, octavia-grenade-unmaintained-2024-1

Add support for centos-10-stream & rocky 10
  devstack/files/rpms/octavia
  devstack/plugin.sh
  diskimage-create/README.rst
  diskimage-create/diskimage-create.sh
  diskimage-create/requirements.txt
  elements/amphora-agent/package-installs.yaml
  elements/amphora-agent/pkg-map
  releasenotes/notes/centos-10-stream-support-d0afdd2e6b828877.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py38, openstack-tox-functional-py39, octavia-v2-dsvm-noop-api-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-tls-barbican-unmaintained-2024-1, octavia-grenade-unmaintained-2024-1

Add c10s jobs
  playbooks/image-build/run.yaml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py38, openstack-tox-functional-py39, octavia-v2-dsvm-noop-api-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-tls-barbican-unmaintained-2024-1, octavia-grenade-unmaintained-2024-1

Fixed missing mock in TestAmphoraAgentCMD.test_main
  octavia/tests/unit/cmd/test_agent.py
Due: none

Exclude Taskflow 6.0.0
  requirements.txt
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py38, openstack-tox-functional-py39, octavia-v2-dsvm-noop-api-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-tls-barbican-unmaintained-2024-1

Fix issues related to pkg_resources module
  octavia/tests/common/sample_certs.py
  tox.ini
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py38, openstack-tox-functional-py39, octavia-v2-dsvm-noop-api-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-tls-barbican-unmaintained-2024-1

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Test LB API giving HTTP 500 when get_subnet fails
  octavia/tests/functional/api/v2/test_load_balancer.py
Due: openstack-tox-functional-py38, openstack-tox-functional-py39

Remove failing drivers from enabled_provider_drivers
  octavia/api/drivers/driver_factory.py
  octavia/tests/unit/api/test_app.py
  releasenotes/notes/fix-disabling-failed-drivers-8396741fa76246d1.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py38, openstack-tox-functional-py39, octavia-v2-dsvm-noop-api-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-tls-barbican-unmaintained-2024-1, octavia-grenade-unmaintained-2024-1

Catch SubnetNotFound from network driver
  octavia/api/v2/controllers/load_balancer.py
  octavia/tests/functional/api/v2/test_load_balancer.py
  releasenotes/notes/create-lb-subnet-validation-http-500-c1aa185dafef36bf.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py38, openstack-tox-functional-py39, octavia-v2-dsvm-noop-api-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-tls-barbican-unmaintained-2024-1, octavia-grenade-unmaintained-2024-1

Rework unit test for get_subnet failure
  octavia/tests/functional/api/v2/test_load_balancer.py
Due: openstack-tox-functional-py38, openstack-tox-functional-py39

Disabling periodic FIPS jobs on stable branches
  zuul.d/projects.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py38, openstack-tox-functional-py39, octavia-v2-dsvm-noop-api-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-tls-barbican-unmaintained-2024-1, octavia-grenade-unmaintained-2024-1

Update .gitreview for stable/2026.1
  .gitreview
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py38, openstack-tox-functional-py39, octavia-v2-dsvm-noop-api-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-tls-barbican-unmaintained-2024-1, octavia-grenade-unmaintained-2024-1

Update TOX_CONSTRAINTS_FILE for stable/2026.1
  elements/amphora-agent/source-repository-amphora-agent
  elements/octavia-lib/source-repository-octavia-lib
  tox.ini
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py38, openstack-tox-functional-py39, octavia-v2-dsvm-noop-api-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-tls-barbican-unmaintained-2024-1, octavia-grenade-unmaintained-2024-1

Update master for stable/2026.1
  releasenotes/source/2026.1.rst
  releasenotes/source/index.rst
Due: none

Drop redundant direct dependency on Pygments
  diskimage-create/test-requirements.txt
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py38, openstack-tox-functional-py39, octavia-v2-dsvm-noop-api-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-tls-barbican-unmaintained-2024-1, octavia-grenade-unmaintained-2024-1

Add SKI and AKI extensions to amphora certificates
  octavia/certificates/generator/local.py
  octavia/tests/unit/certificates/generator/test_local.py
  releasenotes/notes/fix-amphora-cert-missing-key-identifiers-a9980c63ce1d414c.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py38, openstack-tox-functional-py39, octavia-v2-dsvm-noop-api-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-tls-barbican-unmaintained-2024-1, octavia-grenade-unmaintained-2024-1

API data mapping performance enhancements
  octavia/api/common/pagination.py
  octavia/api/common/types.py
  octavia/api/v2/controllers/amphora.py
  octavia/api/v2/controllers/availability_zone_profiles.py
  octavia/api/v2/controllers/availability_zones.py
  octavia/api/v2/controllers/base.py
  octavia/api/v2/controllers/flavor_profiles.py
  octavia/api/v2/controllers/flavors.py
  octavia/api/v2/controllers/health_monitor.py
  octavia/api/v2/controllers/l7policy.py
  octavia/api/v2/controllers/l7rule.py
  octavia/api/v2/controllers/listener.py
  octavia/api/v2/controllers/load_balancer.py
  octavia/api/v2/controllers/member.py
  octavia/api/v2/controllers/pool.py
  octavia/api/v2/controllers/quotas.py
  octavia/api/v2/types/amphora.py
  octavia/api/v2/types/availability_zone_profile.py
  octavia/api/v2/types/availability_zones.py
  octavia/api/v2/types/flavor_profile.py
  octavia/api/v2/types/flavors.py
  octavia/api/v2/types/health_monitor.py
  octavia/api/v2/types/l7policy.py
  octavia/api/v2/types/l7rule.py
  octavia/api/v2/types/listener.py
  octavia/api/v2/types/load_balancer.py
  octavia/api/v2/types/member.py
  octavia/api/v2/types/pool.py
  octavia/api/v2/types/quotas.py
  octavia/common/data_models.py
  octavia/db/base_models.py
  octavia/db/models.py
  octavia/db/repositories.py
  octavia/tests/functional/db/test_models.py
  octavia/tests/functional/db/test_repositories.py
  octavia/tests/unit/api/common/test_types.py
  octavia/tests/unit/api/v2/types/test_pool.py
  octavia/tests/unit/api/v2/types/test_quotas.py
  octavia/tests/unit/controller/worker/v2/tasks/test_notification_tasks.py
  releasenotes/notes/api-orm-mapping-performance-optimization-9f3a2c7b8d.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py38, openstack-tox-functional-py39, octavia-v2-dsvm-noop-api-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-tls-barbican-unmaintained-2024-1, octavia-grenade-unmaintained-2024-1

Move log offload files to /var/log/octavia
  devstack/etc/rsyslog/10-octavia-log-offloading.conf
  devstack/plugin.sh
  zuul.d/jobs.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py38, openstack-tox-functional-py39, octavia-v2-dsvm-noop-api-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-tls-barbican-unmaintained-2024-1, octavia-grenade-unmaintained-2024-1

Add missing NetworkIpAvailabilityNotFound exception
  octavia/api/v2/controllers/load_balancer.py
  octavia/network/base.py
  octavia/tests/functional/api/v2/test_load_balancer.py
  octavia/tests/unit/network/drivers/neutron/test_base.py
  releasenotes/notes/fix-network-ip-availability-not-found-5e827c1e2921b22c.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py38, openstack-tox-functional-py39, octavia-v2-dsvm-noop-api-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-tls-barbican-unmaintained-2024-1, octavia-grenade-unmaintained-2024-1

Add check for Octavia Healthmonitor network before deleting
  devstack/plugin.sh
  releasenotes/notes/fix-network-missing-when-running-unstack-e47f50516fdfffc9.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py38, openstack-tox-functional-py39, octavia-v2-dsvm-noop-api-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-tls-barbican-unmaintained-2024-1, octavia-grenade-unmaintained-2024-1

Make [task_flow].persistence_connection secret
  octavia/common/config.py
  releasenotes/notes/make_task_flow_persistence_connection_secret-bda0d7157fa179ea.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py38, openstack-tox-functional-py39, octavia-v2-dsvm-noop-api-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-tls-barbican-unmaintained-2024-1, octavia-grenade-unmaintained-2024-1

Remove failing centos-9-stream job
  zuul.d/projects.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py38, openstack-tox-functional-py39, octavia-v2-dsvm-noop-api-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-tls-barbican-unmaintained-2024-1, octavia-grenade-unmaintained-2024-1

Migrate setup configuration to pyproject.toml
  pyproject.toml
  setup.cfg
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py38, openstack-tox-functional-py39, octavia-v2-dsvm-noop-api-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-unmaintained-2024-1, octavia-v2-dsvm-scenario-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-scenario-non-traffic-ops-jobboard-unmaintained-2024-1, octavia-v2-dsvm-tls-barbican-unmaintained-2024-1, octavia-grenade-unmaintained-2024-1

Path conditions:
  openstack-tox-pip-check-reqs: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  openstack-tox-functional-py38: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^octavia/tests/unit/.*$, ^releasenotes/.*$
  openstack-tox-functional-py39: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^octavia/tests/unit/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-noop-api-unmaintained-2024-1: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-scenario-traffic-ops-unmaintained-2024-1: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-scenario-non-traffic-ops-unmaintained-2024-1: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-scenario-traffic-ops-jobboard-unmaintained-2024-1: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-scenario-non-traffic-ops-jobboard-unmaintained-2024-1: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-tls-barbican-unmaintained-2024-1: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-grenade-unmaintained-2024-1: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^(test-|)requirements.txt$, ^tox.ini$
