Repository openstack/octavia: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-tox-functional, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

zuul.d/projects.yaml:

# Note: Some official OpenStack wide jobs are still defined in the
#       project-config repository
- project:
    templates:
      - check-requirements
      - periodic-stable-jobs-neutron
      - openstack-cover-jobs
      - openstack-python-jobs
      - openstack-python3-train-jobs
      - publish-openstack-docs-pti
      - release-notes-jobs-python3
      - octavia-tox-tips
    check:
      jobs:
        - openstack-tox-functional:
            irrelevant-files:
              - ^.*\.rst$
              - ^api-ref/.*$
              - ^doc/.*$
              - ^etc/.*$
              - ^releasenotes/.*$
        - openstack-tox-functional-py36:
            irrelevant-files:
              - ^.*\.rst$
              - ^api-ref/.*$
              - ^doc/.*$
              - ^etc/.*$
              - ^releasenotes/.*$
        - octavia-v2-dsvm-noop-api:
            nodeset: octavia-single-node-ubuntu-bionic
        - octavia-v2-dsvm-noop-py2-api:
            nodeset: octavia-single-node-ubuntu-bionic
        - octavia-v2-dsvm-scenario:
            nodeset: octavia-single-node-ubuntu-bionic
        - octavia-v2-dsvm-py2-scenario:
            nodeset: octavia-single-node-ubuntu-bionic
            voting: false
        - octavia-v2-dsvm-py2-scenario-centos-7:
            voting: false
        - octavia-v2-dsvm-scenario-two-node:
            nodeset: octavia-single-node-ubuntu-bionic
            voting: false
        - octavia-v2-dsvm-py2-scenario-two-node:
            nodeset: octavia-single-node-ubuntu-bionic
            voting: false
        - octavia-v2-dsvm-tls-barbican:
            nodeset: octavia-single-node-ubuntu-bionic
            irrelevant-files:
              - ^.*\.rst$
              - ^api-ref/.*$
              - ^doc/.*$
              - ^octavia/tests/unit/.*$
              - ^releasenotes/.*$
            voting: false
        - octavia-v2-dsvm-scenario-amphora-v2:
            nodeset: octavia-single-node-ubuntu-bionic
            irrelevant-files:
              - ^.*\.rst$
              - ^api-ref/.*$
              - ^doc/.*$
              - ^octavia/tests/unit/.*$
              - ^releasenotes/.*$
            voting: false
        - octavia-v2-act-stdby-iptables-dsvm-scenario:
            nodeset: octavia-single-node-ubuntu-bionic
            voting: false
        - octavia-v2-act-stdby-iptables-dsvm-py2-scenario:
            nodeset: octavia-single-node-ubuntu-bionic
            voting: false
        - octavia-v2-act-stdby-iptables-dsvm-py2-scenario-centos-7:
            voting: false
    queue: octavia
    gate:
      fail-fast: true
      jobs:
        - openstack-tox-functional:
            irrelevant-files:
              - ^.*\.rst$
              - ^api-ref/.*$
              - ^doc/.*$
              - ^etc/.*$
              - ^releasenotes/.*$
        - openstack-tox-functional-py36:
            irrelevant-files:
              - ^.*\.rst$
              - ^api-ref/.*$
              - ^doc/.*$
              - ^etc/.*$
              - ^releasenotes/.*$
        - octavia-v2-dsvm-noop-api:
            nodeset: octavia-single-node-ubuntu-bionic
        - octavia-v2-dsvm-noop-py2-api:
            nodeset: octavia-single-node-ubuntu-bionic
        - octavia-v2-dsvm-scenario:
            nodeset: octavia-single-node-ubuntu-bionic
    periodic:
      jobs:
        - publish-openstack-octavia-amphora-image-xenial:
            branches: ^(?!stable/.*).*$
        - publish-openstack-octavia-amphora-image-bionic:
            branches: ^(?!stable/.*).*$
        - publish-openstack-octavia-amphora-image-centos7:
            branches: ^(?!stable/.*).*$
        - publish-openstack-octavia-amphora-image-fedora28:
            branches: ^(?!stable/.*).*$
        - octavia-amphora-image-build

Add check for duplicate members in batch update
  octavia/api/v2/controllers/member.py
  octavia/tests/functional/api/v2/test_member.py
  releasenotes/notes/fix-error-with-duplicate-members-in-batch-update-610ffbbf949927d0.yaml
Due: openstack-tox-functional, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Remove deprecated [amphora_agent] agent_server_network_file
  octavia/common/config.py
  octavia/tests/functional/amphorae/backend/agent/api_server/test_server.py
  releasenotes/notes/remove-agent_server_network_file-1c9ab712d6b05016.yaml
Due: openstack-tox-functional, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Remove deprecated [haproxy_amphora] use_upstart
  octavia/amphorae/backends/agent/agent_jinja_cfg.py
  octavia/amphorae/backends/agent/templates/amphora_agent_conf.template
  octavia/common/config.py
  octavia/tests/unit/amphorae/backends/agent/test_agent_jinja_cfg.py
  releasenotes/notes/remove-use_upstart-448eaf86a7a46c54.yaml
Due: openstack-tox-functional, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Update cryptography requirement
  requirements.txt
Due: openstack-tox-functional, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Remove sysvinit/upstart support
  elements/amphora-agent/install.d/amphora-agent-source-install/75-amphora-agent-install
  elements/certs-ramfs/init-scripts/sysv/certs-ramfs
  elements/certs-ramfs/init-scripts/upstart/certs-ramfs.conf
  elements/certs-ramfs/post-install.d/30-enable-certs-ramfs-service
  octavia/amphorae/backends/agent/agent_jinja_cfg.py
  octavia/amphorae/backends/agent/api_server/keepalived.py
  octavia/amphorae/backends/agent/api_server/keepalivedlvs.py
  octavia/amphorae/backends/agent/api_server/loadbalancer.py
  octavia/amphorae/backends/agent/api_server/templates/keepalived.sysvinit.j2
  octavia/amphorae/backends/agent/api_server/templates/keepalived.upstart.j2
  octavia/amphorae/backends/agent/api_server/templates/keepalived_lvs_check_script.sh.j2
  octavia/amphorae/backends/agent/api_server/templates/sysvinit.conf.j2
  octavia/amphorae/backends/agent/api_server/templates/upstart.conf.j2
  octavia/amphorae/backends/agent/api_server/util.py
  octavia/amphorae/backends/agent/templates/amphora_agent_conf.template
  octavia/common/config.py
  octavia/common/constants.py
  octavia/tests/functional/amphorae/backend/agent/api_server/test_keepalivedlvs.py
  octavia/tests/functional/amphorae/backend/agent/api_server/test_server.py
  octavia/tests/unit/amphorae/backends/agent/api_server/test_keepalived.py
  octavia/tests/unit/amphorae/backends/agent/api_server/test_keepalivedlvs.py
  octavia/tests/unit/amphorae/backends/agent/api_server/test_loadbalancer.py
  octavia/tests/unit/amphorae/backends/agent/api_server/test_util.py
  octavia/tests/unit/amphorae/backends/agent/test_agent_jinja_cfg.py
  releasenotes/notes/remove-sysvinit-and-upstart-f1655e9d0c53e5cc.yaml
Due: openstack-tox-functional, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Fix functional-py31{1,2} tests
  tox.ini
Due: openstack-tox-functional, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Add specs to resize a load balancer
  doc/source/contributor/index.rst
  specs/version15.0/resize.rst
Due: none

Update the Grafana dashboard for HAProxy 2.4+
  etc/grafana/OctaviaAmphoraDashboard.json
  octavia/cmd/prometheus_proxy.py
  octavia/tests/common/sample_haproxy_prometheus
  octavia/tests/common/sample_octavia_prometheus
Due: openstack-tox-functional, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Allow using non-default Redis database
  octavia/common/config.py
  octavia/controller/worker/v2/taskflow_jobboard_driver.py
  octavia/tests/unit/controller/worker/v2/test_taskflow_jobboard_driver.py
  releasenotes/notes/jobboard-redis-db-4a6206247270e996.yaml
Due: openstack-tox-functional, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Do not install qemu in the Octavia devstack plugin
  devstack/plugin.sh
Due: openstack-tox-functional, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

ALLOWS TO LIST THE DELETED INSTANCES
  octavia/api/v2/controllers/amphora.py
  octavia/common/config.py
Due: openstack-tox-functional, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Stop using DHCP for o-hm0 interface in devstack
  devstack/plugin.sh
  devstack/settings
  etc/dhcp/dhclient.conf
Due: openstack-tox-functional, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Fix IPv6 tempest job
  devstack/plugin.sh
Due: openstack-tox-functional, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Fix tests for oslo.policy new defaults enable by default
  octavia/common/policy.py
  octavia/policies/base.py
  octavia/tests/functional/api/v2/test_availability_zones.py
  octavia/tests/functional/api/v2/test_flavors.py
  octavia/tests/functional/api/v2/test_health_monitor.py
  octavia/tests/functional/api/v2/test_l7policy.py
  octavia/tests/functional/api/v2/test_l7rule.py
  octavia/tests/functional/api/v2/test_listener.py
  octavia/tests/functional/api/v2/test_load_balancer.py
  octavia/tests/functional/api/v2/test_member.py
  octavia/tests/functional/api/v2/test_pool.py
  octavia/tests/functional/api/v2/test_quotas.py
  octavia/tests/unit/common/test_policy.py
Due: openstack-tox-functional, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Add spec for custom SGs on VIP ports
  specs/version15.0/custom-security-groups-for-VIP-ports.rst
Due: none

Add spec for rate limiting
  doc/source/contributor/index.rst
  specs/version15.0/rate_limiting.rst
Due: none

Fix test_update_load_balancer_status
  octavia/tests/functional/api/drivers/driver_agent/test_driver_agent.py
Due: openstack-tox-functional, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Remove LegacyEngineFacade
  octavia/tests/functional/db/base.py
Due: openstack-tox-functional, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Fix failover when using SRIOV VIP
  octavia/controller/worker/v2/flows/amphora_flows.py
  octavia/tests/unit/controller/worker/v2/flows/test_load_balancer_flows.py
  releasenotes/notes/Fix-failover-for-SRIOV-VIPs-e2ab193c0de5eb1d.yaml
Due: openstack-tox-functional, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Delete Vagrant related files for devstack
  devstack/samples/README-Vagrant.md
  devstack/samples/multinode/Vagrantfile
  devstack/samples/multinode/local-2.conf
  devstack/samples/multinode/local.conf
  devstack/samples/multinode/local.sh
  devstack/samples/multinode/webserver.sh
  devstack/samples/providers.rb
  devstack/samples/singlenode/Vagrantfile
  devstack/samples/singlenode/local.conf
  devstack/samples/singlenode/local.sh
  devstack/samples/singlenode/webserver.sh
Due: openstack-tox-functional, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Cleanup py27 support
  setup.py
Due: openstack-tox-functional, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Add option to limit recursion in to_data_model
  octavia/api/v2/controllers/base.py
  octavia/api/v2/controllers/member.py
  octavia/db/base_models.py
  octavia/db/repositories.py
  octavia/tests/functional/db/test_models.py
  octavia/tests/functional/db/test_repositories.py
Due: openstack-tox-functional, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Remove use of sphinxcontrib-*diag packages
  doc/requirements.txt
  doc/source/conf.py
  specs/template.rst
Due: none

Remove publish-openstack-octavia-amphora-image jobs
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: openstack-tox-functional, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Fix loadbalancer stuck in cascade delete
  octavia/controller/worker/v2/controller_worker.py
  octavia/controller/worker/v2/flows/flow_utils.py
  octavia/tests/unit/controller/worker/v2/test_controller_worker.py
  releasenotes/notes/fix-loadbalancer-stuck-on-delete-da5950cf87fc8507.yaml
Due: openstack-tox-functional, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

compat with cryptography 43
  octavia/tests/unit/certificates/generator/test_local.py
Due: openstack-tox-functional, openstack-tox-functional-py36

Fix SR-IOV when VIP interface is used for members
  elements/amphora-agent/static/usr/local/bin/lvs-masquerade.sh
  octavia/amphorae/backends/agent/api_server/osutils.py
  octavia/amphorae/backends/agent/api_server/plug.py
  octavia/amphorae/backends/agent/api_server/server.py
  octavia/amphorae/backends/utils/interface.py
  octavia/amphorae/backends/utils/interface_file.py
  octavia/amphorae/backends/utils/nftable_utils.py
  octavia/common/constants.py
  octavia/tests/functional/amphorae/backend/agent/api_server/test_server.py
  octavia/tests/unit/amphorae/backends/agent/api_server/test_osutils.py
  octavia/tests/unit/amphorae/backends/agent/api_server/test_plug.py
  octavia/tests/unit/amphorae/backends/utils/test_interface.py
  octavia/tests/unit/amphorae/backends/utils/test_nftable_utils.py
  releasenotes/notes/Fix-SR-IOV-when-VIP-interface-is-used-for-members-adb150ece454ecff.yaml
Due: openstack-tox-functional, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Fix amphora image builds to use DIB bindep
  playbooks/image-build/run.yaml
  zuul.d/jobs.yaml
Due: openstack-tox-functional, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Update .gitreview for stable/2024.2
  .gitreview
Due: openstack-tox-functional, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Update TOX_CONSTRAINTS_FILE for stable/2024.2
  elements/amphora-agent/source-repository-amphora-agent
  elements/octavia-lib/source-repository-octavia-lib
  tox.ini
Due: openstack-tox-functional, openstack-tox-functional-py36, octavia-v2-dsvm-tls-barbican, octavia-v2-dsvm-scenario-amphora-v2

Update master for stable/2024.2
  releasenotes/source/2024.2.rst
  releasenotes/source/index.rst
Due: none
