Repository openstack/octavia: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-tox-pip-check-reqs, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-amphora-v2, octavia-v2-dsvm-scenario-amphora-v2-no-jobboard, octavia-v2-dsvm-scenario-centos-8-stream

Path conditions:
  openstack-tox-pip-check-reqs: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  openstack-tox-functional-py36: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^octavia/tests/unit/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-noop-api: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-scenario: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-tls-barbican: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-grenade: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^(test-|)requirements.txt$, ^tox.ini$
  octavia-v2-dsvm-tls-barbican-fips: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-act-stdby-dsvm-scenario: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-cinder-amphora: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-scenario-two-node: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-scenario-ipv6-only: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-scenario-amphora-v2: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-scenario-amphora-v2-no-jobboard: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$
  octavia-v2-dsvm-scenario-centos-8-stream: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^octavia/tests/.*$, ^releasenotes/.*$

Update .gitreview for stable/yoga
  .gitreview
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-amphora-v2, octavia-v2-dsvm-scenario-amphora-v2-no-jobboard, octavia-v2-dsvm-scenario-centos-8-stream

Update TOX_CONSTRAINTS_FILE for stable/yoga
  elements/amphora-agent/source-repository-amphora-agent
  elements/octavia-lib/source-repository-octavia-lib
  tox.ini
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-amphora-v2, octavia-v2-dsvm-scenario-amphora-v2-no-jobboard, octavia-v2-dsvm-scenario-centos-8-stream

Update master for stable/yoga
  releasenotes/source/index.rst
  releasenotes/source/yoga.rst
Due: none

Add Python3 zed unit tests
  zuul.d/projects.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-amphora-v2, octavia-v2-dsvm-scenario-amphora-v2-no-jobboard, octavia-v2-dsvm-scenario-centos-8-stream

Improve documentation about log offloading
  doc/source/admin/log-offloading.rst
Due: none

Fix update listener certs doesn't work
  octavia/amphorae/backends/agent/api_server/loadbalancer.py
  releasenotes/notes/fix-listener-update-certs-failed-315c66f4806e76c8.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-amphora-v2, octavia-v2-dsvm-scenario-amphora-v2-no-jobboard, octavia-v2-dsvm-scenario-centos-8-stream

Documentation updates
  CONSTITUTION.rst
  HACKING.rst
  doc/source/contributor/guides/remote-debugger.rst
  doc/source/reference/introduction.rst
Due: none

Pass timeout_dict to _get_haproxy_versions
  octavia/amphorae/drivers/haproxy/rest_api_driver.py
  octavia/amphorae/drivers/keepalived/vrrp_rest_driver.py
  octavia/tests/unit/amphorae/drivers/haproxy/test_rest_api_driver_0_5.py
  octavia/tests/unit/amphorae/drivers/haproxy/test_rest_api_driver_1_0.py
  releasenotes/notes/fix-timeout-dict-in-failover-tasks-537456e0fe1d7cb8.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-amphora-v2, octavia-v2-dsvm-scenario-amphora-v2-no-jobboard, octavia-v2-dsvm-scenario-centos-8-stream

Fix PING health-monitor with recent haproxy releases
  octavia/common/constants.py
  octavia/common/jinja/haproxy/combined_listeners/jinja_cfg.py
  octavia/common/jinja/haproxy/combined_listeners/templates/base.j2
  octavia/tests/unit/common/jinja/haproxy/combined_listeners/test_jinja_cfg.py
  releasenotes/notes/fix-ping-hm-with-haproxy-2.2-9b83777172fb8835.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-amphora-v2, octavia-v2-dsvm-scenario-amphora-v2-no-jobboard, octavia-v2-dsvm-scenario-centos-8-stream

Fix PING health-monitor with recent Centos releases
  elements/haproxy-octavia/post-install.d/20-haproxy-tune-kernel
  releasenotes/notes/fix-ping-hm-on-centos-stream-6624f19c8da86e22.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-amphora-v2, octavia-v2-dsvm-scenario-amphora-v2-no-jobboard, octavia-v2-dsvm-scenario-centos-8-stream

Reject invalid whitespace in HM url_path value
  octavia/common/validate.py
  octavia/tests/unit/common/test_validate.py
  releasenotes/notes/validate-url_path-value-in-requests-3eb3adedcd696433.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-amphora-v2, octavia-v2-dsvm-scenario-amphora-v2-no-jobboard, octavia-v2-dsvm-scenario-centos-8-stream

Passphrase parameters should be secret
  octavia/certificates/common/local.py
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-amphora-v2, octavia-v2-dsvm-scenario-amphora-v2-no-jobboard, octavia-v2-dsvm-scenario-centos-8-stream

Restart rsyslog from cloud-init
  octavia/common/jinja/templates/user_data_config_drive.template
  octavia/controller/worker/v2/tasks/compute_tasks.py
  octavia/tests/unit/common/jinja/test_user_data_jinja_cfg.py
  octavia/tests/unit/controller/worker/v2/tasks/test_compute_tasks.py
  releasenotes/notes/ensure-rsyslog-config-is-reloaded-b4a25a98b661d0f1.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-amphora-v2, octavia-v2-dsvm-scenario-amphora-v2-no-jobboard, octavia-v2-dsvm-scenario-centos-8-stream

Save the HAProxy state outside of its systemd unit
  octavia/amphorae/backends/agent/api_server/loadbalancer.py
  octavia/amphorae/backends/agent/api_server/templates/systemd.conf.j2
  octavia/amphorae/backends/utils/haproxy_query.py
  octavia/tests/functional/amphorae/backend/agent/api_server/test_server.py
  octavia/tests/unit/amphorae/backends/agent/api_server/test_loadbalancer.py
  octavia/tests/unit/amphorae/backends/utils/test_haproxy_query.py
  releasenotes/notes/ping-healthcheck-selinux-e3b7d360c8503527.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-amphora-v2, octavia-v2-dsvm-scenario-amphora-v2-no-jobboard, octavia-v2-dsvm-scenario-centos-8-stream

Remove deprecated oslo_db.sqlalchemy.test_base
  octavia/tests/functional/db/base.py
Due: openstack-tox-functional-py36

Disabling octavia-grenade job in stable/victoria
  zuul.d/projects.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-amphora-v2, octavia-v2-dsvm-scenario-amphora-v2-no-jobboard, octavia-v2-dsvm-scenario-centos-8-stream

Disabling octavia-grenade job in stable/wallaby
  zuul.d/projects.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-amphora-v2, octavia-v2-dsvm-scenario-amphora-v2-no-jobboard, octavia-v2-dsvm-scenario-centos-8-stream

Disabling octavia-grenade job for stable/ussuri
  zuul.d/projects.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-amphora-v2, octavia-v2-dsvm-scenario-amphora-v2-no-jobboard, octavia-v2-dsvm-scenario-centos-8-stream

Fix AttributeError in exception handler
  octavia/amphorae/backends/utils/haproxy_query.py
  octavia/tests/unit/amphorae/backends/utils/test_haproxy_query.py
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-amphora-v2, octavia-v2-dsvm-scenario-amphora-v2-no-jobboard, octavia-v2-dsvm-scenario-centos-8-stream

[doc] Fix client key name in command
  doc/source/admin/guides/certificates.rst
Due: none

Fix disabled UDP pools
  octavia/common/jinja/lvs/templates/macros.j2
  octavia/tests/unit/common/jinja/lvs/test_jinja_cfg.py
  releasenotes/notes/fix-disabled-udp-pool-3e84558f996017d5.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-amphora-v2, octavia-v2-dsvm-scenario-amphora-v2-no-jobboard, octavia-v2-dsvm-scenario-centos-8-stream

Remove unnecessary unicode prefixes
  api-ref/source/conf.py
  doc/source/conf.py
  releasenotes/source/conf.py
Due: none

Deny the creation of L7Policies for HTTPS/TCP/UDP listeners
  octavia/api/drivers/amphora_driver/v1/driver.py
  octavia/api/drivers/amphora_driver/v2/driver.py
  octavia/tests/unit/api/drivers/amphora_driver/v1/test_driver.py
  octavia/tests/unit/api/drivers/amphora_driver/v2/test_driver.py
  releasenotes/notes/validate-protocols-for-l7policies-83d678171f13136a.yaml
Due: openstack-tox-pip-check-reqs, openstack-tox-functional-py36, octavia-v2-dsvm-noop-api, octavia-v2-dsvm-scenario, octavia-v2-dsvm-tls-barbican, octavia-grenade, octavia-v2-dsvm-tls-barbican-fips, octavia-v2-act-stdby-dsvm-scenario, octavia-v2-dsvm-cinder-amphora, octavia-v2-dsvm-scenario-two-node, octavia-v2-dsvm-scenario-ipv6-only, octavia-v2-dsvm-scenario-amphora-v2, octavia-v2-dsvm-scenario-amphora-v2-no-jobboard, octavia-v2-dsvm-scenario-centos-8-stream
