Repository openstack/octavia: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

zuul.d/projects.yaml:

# Note: Some official OpenStack wide jobs are still defined in the
#       project-config repository
- project:
    check:
      jobs:
        - neutron-lbaasv2-dsvm-api
        - neutron-lbaasv2-dsvm-py3x-api:
            branches: ^(?!stable/ocata).*$
        - neutron-lbaasv2-dsvm-scenario:
            voting: false
        - neutron-lbaasv2-dsvm-py3x-scenario:
            branches: ^(?!stable/ocata).*$
            voting: false
        - openstack-tox-lower-constraints
        - openstack-tox-functional:
            irrelevant-files:
              - ^.*\.rst$
              - ^api-ref/.*$
              - ^doc/.*$
              - ^etc/.*$
              - ^releasenotes/.*$
        - openstack-tox-functional-py35:
            branches: ^(?!stable/ocata).*$
            irrelevant-files:
              - ^.*\.rst$
              - ^api-ref/.*$
              - ^doc/.*$
              - ^etc/.*$
              - ^releasenotes/.*$
        - octavia-v1-dsvm-scenario
        - octavia-v1-dsvm-py3x-scenario:
            branches: ^(?!stable/ocata).*$
        - octavia-v1-dsvm-scenario-multinode:
            voting: false
        - octavia-v1-dsvm-py3x-scenario-multinode:
            branches: ^(?!stable/ocata).*$
            voting: false
        - octavia-v1-dsvm-scenario-kvm-centos.7:
            voting: false
        - octavia-v1-dsvm-scenario-ubuntu.bionic:
            voting: false
        - octavia-v2-dsvm-noop-api:
            voting: false
        - octavia-v2-dsvm-noop-py35-api:
            voting: false
            branches: ^(?!stable/ocata).*$
        - octavia-v2-dsvm-scenario:
            voting: false
        - octavia-v2-dsvm-py35-scenario:
            voting: false
            branches: ^(?!stable/ocata).*$
        - octavia-grenade:
            branches: ^(?!stable/(ocata|pike|queens)).*$
            irrelevant-files:
              - ^.*\.rst$
              - ^api-ref/.*$
              - ^doc/.*$
              - ^octavia/tests/unit/.*$
              - ^releasenotes/.*$
              - ^setup.cfg$
              - ^tools/.*$
              - ^(test-|)requirements.txt$
              - ^tox.ini$
    gate:
      queue: octavia
      jobs:
        - openstack-tox-lower-constraints
        - openstack-tox-functional:
            irrelevant-files:
              - ^.*\.rst$
              - ^api-ref/.*$
              - ^doc/.*$
              - ^etc/.*$
              - ^releasenotes/.*$
        - openstack-tox-functional-py35:
            branches: ^(?!stable/ocata).*$
            irrelevant-files:
              - ^.*\.rst$
              - ^api-ref/.*$
              - ^doc/.*$
              - ^etc/.*$
              - ^releasenotes/.*$
        - octavia-v1-dsvm-scenario
        - octavia-v1-dsvm-py3x-scenario:
            branches: ^(?!stable/ocata).*$
        - octavia-v1-dsvm-scenario-multinode:
            voting: false
        - octavia-v1-dsvm-py3x-scenario-multinode:
            branches: ^(?!stable/ocata).*$
            voting: false
        - neutron-lbaasv2-dsvm-api
        - neutron-lbaasv2-dsvm-py3x-api:
            branches: ^(?!stable/ocata).*$
        - octavia-grenade:
            branches: ^(?!stable/(ocata|pike|queens)).*$
            irrelevant-files:
              - ^.*\.rst$
              - ^api-ref/.*$
              - ^doc/.*$
              - ^octavia/tests/unit/.*$
              - ^releasenotes/.*$
              - ^setup.cfg$
              - ^tools/.*$
              - ^(test-|)requirements.txt$
              - ^tox.ini$
    experimental:
      queue: octavia
      jobs:
        - octavia-v1-dsvm-scenario-lxd:
            branches: ^(?!stable/ocata).*$
    periodic:
      jobs:
        - publish-openstack-octavia-amphora-image-ubuntu:
            branches: ^(?!stable/.*).*$
        - publish-openstack-octavia-amphora-image-centos:
            branches: ^(?!stable/.*).*$

Cleanup Octavia create VIP ports on LB delete
  octavia/api/drivers/driver_lib.py
  octavia/api/v2/controllers/load_balancer.py
  octavia/common/data_models.py
  octavia/db/migration/alembic_migrations/versions/ebbcc72b4e5e_add_octavia_owned_vip_column_to_vip_.py
  octavia/db/models.py
  octavia/tests/functional/db/test_repositories.py
  octavia/tests/unit/api/drivers/test_driver_lib.py
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Use object instead of object id in the drivers delete callbacks
  octavia/api/drivers/amphora_driver/driver.py
  octavia/api/drivers/noop_driver/driver.py
  octavia/api/drivers/provider_base.py
  octavia/api/drivers/utils.py
  octavia/api/v2/controllers/health_monitor.py
  octavia/api/v2/controllers/l7policy.py
  octavia/api/v2/controllers/l7rule.py
  octavia/api/v2/controllers/listener.py
  octavia/api/v2/controllers/load_balancer.py
  octavia/api/v2/controllers/member.py
  octavia/api/v2/controllers/pool.py
  octavia/tests/unit/api/drivers/amphora_driver/test_amphora_driver.py
  octavia/tests/unit/api/drivers/test_provider_noop_driver.py
  octavia/tests/unit/api/drivers/test_utils.py
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Fixes unlimited listener connection limit
  elements/haproxy-octavia/post-install.d/20-haproxy-tune-kernel
  octavia/amphorae/backends/agent/api_server/templates/systemd.conf.j2
  octavia/common/constants.py
  octavia/common/jinja/haproxy/jinja_cfg.py
  octavia/tests/unit/amphorae/backends/agent/api_server/test_haproxy_compatibility.py
  octavia/tests/unit/common/jinja/haproxy/test_jinja_cfg.py
  octavia/tests/unit/common/sample_configs/sample_configs.py
  releasenotes/notes/fix-unlimited-connection-limit-48079688de033c1a.yaml
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Update pypi url to new url
  doc/source/contributor/guides/providers.rst
Due: none

Fix package version querying on non-dpkg distros
  octavia/amphorae/backends/agent/api_server/amphora_info.py
  octavia/amphorae/backends/agent/api_server/osutils.py
  octavia/tests/functional/amphorae/backend/agent/api_server/test_server.py
  octavia/tests/unit/amphorae/backends/agent/api_server/test_osutils.py
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Correct the usage on listing neutron ports
  octavia/tests/tempest/common/manager.py
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Add the missing markup for the hyperlink title
  doc/source/admin/guides/operator-maintenance.rst
Due: none

Temporarily disable flow diagraming
  doc/source/conf.py
  doc/source/contributor/devref/flows.rst
Due: none

Fix failover when multiple amphora have failed
  etc/octavia.conf
  octavia/amphorae/drivers/driver_base.py
  octavia/amphorae/drivers/haproxy/rest_api_driver.py
  octavia/amphorae/drivers/keepalived/vrrp_rest_driver.py
  octavia/amphorae/drivers/noop_driver/driver.py
  octavia/common/config.py
  octavia/common/constants.py
  octavia/controller/worker/controller_worker.py
  octavia/controller/worker/flows/amphora_flows.py
  octavia/controller/worker/tasks/amphora_driver_tasks.py
  octavia/controller/worker/tasks/compute_tasks.py
  octavia/controller/worker/tasks/database_tasks.py
  octavia/controller/worker/tasks/network_tasks.py
  octavia/tests/unit/amphorae/drivers/haproxy/test_rest_api_driver.py
  octavia/tests/unit/amphorae/drivers/test_noop_amphoraloadbalancer_driver.py
  octavia/tests/unit/controller/worker/flows/test_amphora_flows.py
  octavia/tests/unit/controller/worker/tasks/test_amphora_driver_tasks.py
  octavia/tests/unit/controller/worker/tasks/test_compute_tasks.py
  octavia/tests/unit/controller/worker/tasks/test_database_tasks.py
  octavia/tests/unit/controller/worker/tasks/test_network_tasks.py
  octavia/tests/unit/controller/worker/test_controller_worker.py
  releasenotes/notes/fix-multi-amp-down-failover-952618fb8d3d8ae6.yaml
  tools/create_flow_docs.py
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Fixing Octavia generating json named file containing yaml
  etc/policy/octavia-policy-generator.conf
  tox.ini
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Fix DIB_REPOREF_amphora_agent not set on Git !=1.8.5
  devstack/plugin.sh
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Init provider drivers at app setup
  octavia/api/app.py
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Add baseline object in the drivers update callbacks
  octavia/api/drivers/amphora_driver/driver.py
  octavia/api/drivers/noop_driver/driver.py
  octavia/api/drivers/provider_base.py
  octavia/api/v2/controllers/health_monitor.py
  octavia/api/v2/controllers/l7policy.py
  octavia/api/v2/controllers/l7rule.py
  octavia/api/v2/controllers/listener.py
  octavia/api/v2/controllers/load_balancer.py
  octavia/api/v2/controllers/member.py
  octavia/api/v2/controllers/pool.py
  octavia/tests/unit/api/drivers/amphora_driver/test_amphora_driver.py
  octavia/tests/unit/api/drivers/test_provider_base.py
  octavia/tests/unit/api/drivers/test_provider_noop_driver.py
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Correct naming for quota resources
  api-ref/source/v2/examples/quota-update-curl
  api-ref/source/v2/examples/quota-update-request.json
  api-ref/source/v2/examples/quota-update-response.json
  api-ref/source/v2/examples/quotas-defaults-response.json
  api-ref/source/v2/examples/quotas-list-response.json
  api-ref/source/v2/examples/quotas-show-response.json
  api-ref/source/v2/quota.inc
  octavia/api/v2/types/quotas.py
  octavia/tests/functional/api/v2/test_quotas.py
  releasenotes/notes/Correct-naming-for-quota-resources-8e4309a839208cd1.yaml
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Add listener_id to the pool provider object
  octavia/api/drivers/data_models.py
  octavia/api/drivers/utils.py
  octavia/tests/unit/api/drivers/test_provider_noop_driver.py
  octavia/tests/unit/api/v2/types/test_pools.py
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Automatically set Barbican ACLs
  doc/source/user/guides/basic-cookbook-neutron.rst
  doc/source/user/guides/basic-cookbook.rst
  octavia/amphorae/drivers/haproxy/rest_api_driver.py
  octavia/api/v2/controllers/listener.py
  octavia/certificates/common/auth/barbican_acl.py
  octavia/certificates/common/barbican.py
  octavia/certificates/manager/barbican.py
  octavia/certificates/manager/barbican_legacy.py
  octavia/certificates/manager/castellan_mgr.py
  octavia/certificates/manager/cert_mgr.py
  octavia/certificates/manager/local.py
  octavia/common/keystone.py
  octavia/tests/unit/amphorae/drivers/haproxy/test_rest_api_driver.py
  octavia/tests/unit/certificates/common/auth/test_barbican_acl.py
  octavia/tests/unit/certificates/manager/test_barbican.py
  octavia/tests/unit/certificates/manager/test_barbican_legacy.py
  releasenotes/notes/add-ability-setting-barbican-acls-85f36747d4284035.yaml
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Updates the amphora driver for new commit model
  octavia/api/drivers/amphora_driver/driver.py
  octavia/api/v1/controllers/health_monitor.py
  octavia/api/v1/controllers/l7policy.py
  octavia/api/v1/controllers/l7rule.py
  octavia/api/v1/controllers/member.py
  octavia/api/v1/controllers/pool.py
  octavia/api/v2/controllers/member.py
  octavia/common/constants.py
  octavia/controller/worker/controller_worker.py
  octavia/controller/worker/flows/health_monitor_flows.py
  octavia/controller/worker/flows/l7policy_flows.py
  octavia/controller/worker/flows/l7rule_flows.py
  octavia/controller/worker/flows/listener_flows.py
  octavia/controller/worker/flows/load_balancer_flows.py
  octavia/controller/worker/flows/member_flows.py
  octavia/controller/worker/flows/pool_flows.py
  octavia/tests/unit/controller/worker/test_controller_worker.py
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Fix the bionic gate to actually run Ubuntu bionic
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Delete amphora regardless of status
  octavia/controller/worker/tasks/compute_tasks.py
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Add exception handling for housekeeping service
  octavia/cmd/house_keeping.py
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

UDP jinja template
  octavia/amphorae/backends/utils/udp_check.sh
  octavia/common/constants.py
  octavia/common/jinja/lvs/__init__.py
  octavia/common/jinja/lvs/jinja_cfg.py
  octavia/common/jinja/lvs/templates/base.j2
  octavia/common/jinja/lvs/templates/keepalivedlvs.cfg.j2
  octavia/common/jinja/lvs/templates/macros.j2
  octavia/tests/unit/common/jinja/lvs/__init__.py
  octavia/tests/unit/common/jinja/lvs/test_lvs_jinja_cfg.py
  octavia/tests/unit/common/sample_configs/sample_configs.py
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Clarify that the driver support library is interim
  doc/source/contributor/guides/providers.rst
Due: none

UDP for [2]
  etc/octavia.conf
  octavia/amphorae/backends/agent/agent_jinja_cfg.py
  octavia/amphorae/backends/agent/api_server/amphora_info.py
  octavia/amphorae/backends/agent/api_server/keepalivedlvs.py
  octavia/amphorae/backends/agent/api_server/listener.py
  octavia/amphorae/backends/agent/api_server/osutils.py
  octavia/amphorae/backends/agent/api_server/plug.py
  octavia/amphorae/backends/agent/api_server/server.py
  octavia/amphorae/backends/agent/api_server/templates/amphora-netns.systemd.j2
  octavia/amphorae/backends/agent/api_server/templates/keepalived.systemd.j2
  octavia/amphorae/backends/agent/api_server/templates/keepalived.sysvinit.j2
  octavia/amphorae/backends/agent/api_server/templates/keepalived.upstart.j2
  octavia/amphorae/backends/agent/api_server/templates/keepalived_lvs_check_script.sh.j2
  octavia/amphorae/backends/agent/api_server/templates/plug_port_ethX.conf.j2
  octavia/amphorae/backends/agent/api_server/templates/plug_vip_ethX.conf.j2
  octavia/amphorae/backends/agent/api_server/templates/rh_plug_port_eth_ifdown_local.conf.j2
  octavia/amphorae/backends/agent/api_server/templates/rh_plug_port_eth_ifup_local.conf.j2
  octavia/amphorae/backends/agent/api_server/udp_listener_base.py
  octavia/amphorae/backends/agent/api_server/util.py
  octavia/amphorae/backends/agent/templates/amphora_agent_conf.template
  octavia/amphorae/backends/health_daemon/health_daemon.py
  octavia/amphorae/backends/utils/keepalivedlvs_query.py
  octavia/amphorae/drivers/haproxy/rest_api_driver.py
  octavia/common/config.py
  octavia/common/constants.py
  octavia/controller/healthmanager/health_drivers/update_db.py
  octavia/controller/worker/flows/amphora_flows.py
  octavia/network/drivers/neutron/allowed_address_pairs.py
  octavia/tests/functional/amphorae/backend/agent/api_server/test_server.py
  octavia/tests/unit/amphorae/backends/agent/api_server/test_amphora_info.py
  octavia/tests/unit/amphorae/backends/agent/api_server/test_keepalivedlvs.py
  octavia/tests/unit/amphorae/backends/agent/api_server/test_plug.py
  octavia/tests/unit/amphorae/backends/agent/test_agent_jinja_cfg.py
  octavia/tests/unit/amphorae/backends/health_daemon/test_health_daemon.py
  octavia/tests/unit/amphorae/backends/utils/test_keepalivedlvs_query.py
  octavia/tests/unit/amphorae/drivers/haproxy/test_rest_api_driver.py
  octavia/tests/unit/controller/healthmanager/health_drivers/test_update_db.py
  octavia/tests/unit/network/drivers/neutron/test_allowed_address_pairs.py
  setup.cfg
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

UDP for [3][5][6]
  etc/octavia.conf
  octavia/api/v2/controllers/health_monitor.py
  octavia/api/v2/controllers/l7policy.py
  octavia/api/v2/controllers/listener.py
  octavia/api/v2/controllers/pool.py
  octavia/api/v2/types/pool.py
  octavia/common/config.py
  octavia/common/constants.py
  octavia/common/data_models.py
  octavia/db/migration/alembic_migrations/versions/76aacf2e176c_extend_support_udp_protocol.py
  octavia/db/models.py
  octavia/tests/functional/api/v2/test_health_monitor.py
  octavia/tests/functional/api/v2/test_l7policy.py
  octavia/tests/functional/api/v2/test_listener.py
  octavia/tests/functional/api/v2/test_pool.py
  octavia/tests/functional/db/test_repositories.py
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Followup patch for UDP support
  api-ref/source/parameters.yaml
  api-ref/source/v2/healthmonitor.inc
  api-ref/source/v2/l7policy.inc
  api-ref/source/v2/pool.inc
  elements/amphora-agent/pkg-map
  octavia/amphorae/backends/agent/api_server/keepalivedlvs.py
  octavia/amphorae/backends/agent/api_server/listener.py
  octavia/amphorae/backends/agent/api_server/server.py
  octavia/amphorae/backends/agent/api_server/templates/keepalived.systemd.j2
  octavia/amphorae/backends/agent/api_server/util.py
  octavia/amphorae/drivers/haproxy/rest_api_driver.py
  octavia/api/root_controller.py
  octavia/api/v2/controllers/pool.py
  octavia/common/constants.py
  octavia/common/jinja/lvs/jinja_cfg.py
  octavia/common/jinja/lvs/templates/base.j2
  octavia/common/jinja/lvs/templates/keepalivedlvs.cfg.j2
  octavia/common/jinja/lvs/templates/macros.j2
  octavia/tests/functional/amphorae/backend/agent/api_server/test_keepalivedlvs.py
  octavia/tests/functional/amphorae/backend/agent/api_server/test_server.py
  octavia/tests/functional/api/test_root_controller.py
  octavia/tests/unit/amphorae/backends/agent/api_server/test_keepalivedlvs.py
  octavia/tests/unit/amphorae/backends/agent/api_server/test_util.py
  octavia/tests/unit/amphorae/drivers/haproxy/test_rest_api_driver.py
  octavia/tests/unit/common/jinja/lvs/test_lvs_jinja_cfg.py
  releasenotes/notes/Add-UDP-protocol-support-9c011a23525092a1.yaml
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

[UDP] Fix failed member always in DRAIN status
  octavia/common/jinja/lvs/templates/macros.j2
  octavia/tests/unit/amphorae/backends/utils/test_keepalivedlvs_query.py
  octavia/tests/unit/common/jinja/lvs/test_lvs_jinja_cfg.py
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Fix UDP release note for CentOS
  api-ref/source/parameters.yaml
  releasenotes/notes/Add-UDP-protocol-support-9c011a23525092a1.yaml
Due: none

Remove user_group option
  etc/octavia.conf
  octavia/amphorae/backends/agent/agent_jinja_cfg.py
  octavia/amphorae/backends/agent/templates/amphora_agent_conf.template
  octavia/amphorae/drivers/haproxy/rest_api_driver.py
  octavia/common/config.py
  octavia/common/jinja/haproxy/jinja_cfg.py
  octavia/common/jinja/haproxy/templates/base.j2
  octavia/common/jinja/haproxy/templates/haproxy.cfg.j2
  octavia/tests/unit/amphorae/backends/agent/api_server/test_haproxy_compatibility.py
  octavia/tests/unit/amphorae/backends/agent/test_agent_jinja_cfg.py
  octavia/tests/unit/amphorae/drivers/haproxy/test_rest_api_driver.py
  octavia/tests/unit/common/sample_configs/sample_configs.py
  releasenotes/notes/remove_user_group_option-56ba749d0064a394.yaml
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Update .gitreview for stable/rocky
  .gitreview
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Update UPPER_CONSTRAINTS_FILE for stable/rocky
  tox.ini
Due: openstack-tox-functional, openstack-tox-functional-py35

Update reno for stable/rocky
  releasenotes/source/index.rst
  releasenotes/source/rocky.rst
Due: none

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Fix Octavia for host host routes
  octavia/amphorae/backends/agent/api_server/templates/plug_port_ethX.conf.j2
  octavia/amphorae/backends/agent/api_server/templates/plug_vip_ethX.conf.j2
  octavia/tests/functional/amphorae/backend/agent/api_server/test_server.py
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Fix neutron "tenat_id" compatibility
  octavia/network/drivers/neutron/allowed_address_pairs.py
  octavia/tests/unit/network/drivers/neutron/test_allowed_address_pairs.py
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

"Resolve" bandit issue with sha1 hashes
  octavia/common/tls_utils/cert_parser.py
  octavia/common/utils.py
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade

Allow blocking IPs from member addresses
  etc/octavia.conf
  octavia/api/v2/controllers/member.py
  octavia/common/config.py
  octavia/common/validate.py
  octavia/tests/unit/common/test_validations.py
  releasenotes/notes/reserved-ips-7ef3a63ab0b6b28a.yaml
Due: openstack-tox-functional, openstack-tox-functional-py35, octavia-grenade
